---
layout: default
title: Awake your Soul
font-awesome: true
seo:
    title: Awake your Soul
    description: Heilerausbildung, Chakra Heilung, Theta Healing Gruppencoachings
    social_image:
    twitter_card:
    keywords: Mentoring, Chakra Flow, Soulmission
    hide-from-google: false
aktuelle-angebote:
    -
        titel: Aktuelle Angebote
        untertitel:
        description_html: >-
            <h2><strong>Heilungs-Zirkel Online</strong></h2><p>Jeden Donnerstag
            um 09.00 per Zoom</p><p>Ein Raum in dem du sanft geführt und
            gehalten wirst</p><p>EUR 49 / CHF 46 pro Monat (4 Sessions)</p><p><a
            href="https://buy.stripe.com/bIYcOt6CG9e1a3e00y">jetzt
            buchen</a></p><h2><strong>Breathwork &amp;
            Energiearbeit</strong></h2><p>12. &amp; 19. März 2025, 20
            Uhr</p><p>CHF 66 pro Session</p><p><a
            href="https://buy.stripe.com/fZe7u92mq61Peju8wY">jetzt
            buchen</a></p>
        anmelden-text-1:
        anmelden-1:
        image: /images/pajuramacopyright327-2.jpg
        sections-toggle: false
        sections:
            -
                description_html: >-
                    <p><strong>Was dich
                    erwartet:</strong></p><ul><li><p><strong>7 wöchentliche
                    Gruppensitzungen: </strong>ca. 2
                    Std.</p></li><li><p><strong>Workbook: </strong>mit
                    Theorieinhalten und
                    Reflexionsübungen</p></li><li><p><strong>7
                    Körperprozesse</strong>: Audio-Aufnahmen für jede Woche, die
                    dir helfen, die energetischen Veränderungen zu
                    verankern.</p></li><li><p><strong>Energetische
                    Wirbelsäulenaufrichtung</strong>: Für eine tiefere
                    Verbindung zu deinem Körper und deiner inneren
                    Balance.</p></li></ul>
                image: /images/familienmediation/bild-2.jpg
                border: true
                window: false
        investition:
        start-1:
        start-2:
        start-3:
        abschluss:
            -
                description_html:
        anmelden-text: Jetzt buchen
        anmelden: https://karinguetiger.ch/kontakt
kurse:
    -
        titel: AWAKEN
        untertitel: Heilerin der neuen Zeit.
        description_html: >-
            <p>Erwecke deine Magie</p><p>✨ Du bist mehr, als du dir je
            vorstellen kannst. ✨</p><p><br />Unter all den Schichten liegt eine
            tiefe, göttliche Essenz – leicht, verspielt, voller Magie und
            Sehnsüchte, die nur darauf warten, entfaltet zu
            werden.</p><p></p><p>Spürst du den Ruf? Das leise, aber kraftvolle
            Wissen, dass das Leben, wie du es kennst, nur der Anfang ist? Dass
            in dir Gaben schlummern, die darauf warten, endlich ans Licht zu
            kommen – auf eine Weise, die sich leicht und natürlich anfühlt, die
            du leicht in deinen Alltag einweben kannst, ohne dich verstecken zu
            müssen?</p><p></p><p>Was, wenn du deine energetischen Kräfte bewusst
            lenken könntest?<br /></p><p>Was, wenn du die Wahl hättest, wie du
            dich fühlen möchtest, ohne dich von äusseren Umständen überwältigen
            zu lassen?</p><p></p><p>Wenn du fühlst, dass dein Seelenweg dich
            ruft – wenn du bereit bist, die Magie in dir zu entfalten und sie in
            deinem Leben zum Strahlen zu bringen, dann ist „AWAKEN – Heilerin
            der neuen Zeit“ deine Einladung.</p><p></p><p><strong>Was erwartet
            dich auf dieser Reise?</strong></p><p></p><p>✨ <strong>Magische
            Transformation im Alltag</strong> – Du wirst deine inneren Kräfte
            erwecken und lernen, sie in jedem Moment zu nutzen.<br />✨
            <strong>Verbindung zur geistigen Welt &amp; deinem
            Geistführer</strong> – Öffne dich für die Weisheit der höheren
            Dimensionen und erlebe, wie du geführt wirst.<br />✨
            <strong>Energetische Felder wahrnehmen &amp; lenken</strong> – Nimm
            die feinen Schwingungen um dich wahr und lerne, sie gezielt zu
            transformieren.<br />✨ <strong>Heilung &amp; Selbstheilung</strong>
            – Du wirst in der Lage sein, heilende Energie in deinem Leben und in
            der Welt zu verankern.<br />✨ <strong>Deine Seelenmission erkennen
            &amp; leben</strong> – Erkenne deine wahre Bestimmung und setze sie
            mutig um.</p><p></p><p><strong>Das ist deine Chance, die Heilerin
            der neuen Zeit in dir zu erwecken.</strong></p><p>✨ <strong>12 Zoom
            Calls inkl. Aufnahme</strong><br />✨ <strong>2 x 1:1
            Sessions</strong> für deine individuelle Vertiefung<br />✨
            <strong>Exklusiver Mitgliederbereich</strong> mit wertvollen
            Materialien<br />✨ <strong>Begleitende Telegram-Gruppe</strong> für
            Austausch und magischen Support</p><p></p><p><strong>Early Bird
            Preis bis 31.03.2025: EURO 2222 / CHF 2100</strong><br
            /><strong>Danach: EURO 2800 / CHF 2630</strong></p><p>Bist du
            bereit, deine magische Reise zu beginnen und die Heilerin in dir zu
            erwecken?<br /></p><p>👉 Dann sichere dir jetzt deinen Platz und
            tauche ein in eine Welt voller Transformation und Magie!</p><p>👉
            <strong>Dann sichere dir jetzt deinen Platz und starte deine Reise
            in ein anderes Leben.</strong></p>
        anmelden-text-1: Kennenlerngespräch buchen
        anmelden-1: https://calendly.com/karinguetiger/verbindungscall
        image: /images/awake-your-soul/4.jpg
        sections-toggle: false
        sections:
            -
                description_html: ''
                image: ''
                border: true
                window: false
        investition: 'Preis: EURO 2´222.- / CHF 2100.-'
        start-1: >-
            Bei Interesse an einer Ratenzahlung, kontaktiere mich gerne unter
            info@karinguetiger.ch
        start-2: 'Start: 1. Mai 2025, 19.30 Uhr via Zoom'
        start-3:
        abschluss:
            -
                description_html: ''
        anmelden-text: Direkt buchen
        anmelden: https://buy.stripe.com/eVa4hXf9c89Xcbm8x3
theta:
    -
        titel: Grundseminare Theta Healing®
        untertitel:
        description_html: >-
            <p>Entdecke eine kraftvolle Heiltechnik, die dir hilft, Blockaden zu
            lösen und tiefgreifende Transformationen in deinem Leben zu
            erreichen. In meinen Seminaren lernst du, wie du effektive Werkzeuge
            anwendest, um alte Muster zu durchbrechen und deine persönliche
            Entwicklung zu fördern. Jeder Kurs ist ein Schritt auf deinem Weg zu
            mehr Klarheit und innerer Stärke.</p>
        anmelden-text: Packet buchen
        anmelden: /kontakt.html
        image: /images/awake-your-soul/aurora-femina.jpg
        sections-toggle: true
        sections:
            -
                description_html: >-
                    <p><strong>Basis DNA Seminar</strong></p><p>Das
                    Basis-Seminar von Theta Healing® legt den Grundstein für
                    deine Reise in die Heilung und Selbstentfaltung. In diesem
                    Kurs lernst du die grundlegenden Techniken, um Blockaden und
                    Glaubenssätze zu erkennen und zu transformieren. Du wirst in
                    die Kraft des Theta-Zustands eingeführt, um tiefgreifende
                    Heilungen in Körper, Geist und Seele zu erfahren und ein
                    starkes Fundament für deine persönliche Weiterentwicklung zu
                    schaffen.</p><p>Preis: CHF
                    600.00                             </p><p><a
                    href="mailto:info@karinguetiger.ch?subject=Warteliste&amp;body=Ich%20m%C3%B6chte%20gerne%20auf%20die%20Warteliste"
                    title="Warteliste">Warteliste</a></p>
                image: /images/neu/awake-your-soul/awake-your-soul-top.jpg
                border: true
                window: false
            -
                description_html: >-
                    <p><strong>Aufbau-Seminar:</strong></p><p>Im Aufbau-Seminar
                    vertiefst du dein Wissen und deine Fähigkeiten im Theta
                    Healing. Hier lernst du, wie du fortgeschrittene
                    Heiltechniken anwendest und deine Intuition weiter stärkst.
                    Das Seminar ermöglicht es dir, tiefergehende Blockaden zu
                    bearbeiten, komplexe Themen zu verstehen und deine
                    persönliche Entwicklung auf eine neue Ebene zu bringen. Es
                    ist die nächste Stufe auf deinem Weg zu mehr Klarheit und
                    innerer Stärke.</p><p>Preis: CHF 600.00</p><p><a
                    href="mailto:info@karinguetiger.ch?subject=Warteliste&amp;body=Ich%20m%C3%B6chte%20gerne%20auf%20die%20Warteliste"
                    title="Warteliste">Warteliste</a></p>
                image: /images/neu/index/index-card-2.jpg
                border: false
                window: true
            -
                description_html: >-
                    <p><strong>Grabe Tiefer-Seminar:</strong></p><p>Das Grabe
                    Tiefer-Seminar bietet dir die Möglichkeit, verborgene und
                    tiefsitzende Blockaden zu entdecken und zu transformieren.
                    In diesem intensiven Kurs lernst du fortgeschrittene
                    Techniken, um die tiefsten Wurzeln deiner Themen zu
                    erforschen und aufzulösen. Du erfährst, wie du deine eigene
                    Heilung auf ein tieferes Level bringen und nachhaltige
                    Veränderungen in deinem Leben bewirken kannst.</p><p>Preis:
                    CHF 440.00</p><p><a
                    href="mailto:info@karinguetiger.ch?subject=Warteliste&amp;body=Ich%20m%C3%B6chte%20gerne%20auf%20die%20Warteliste"
                    title="Warteliste">Warteliste</a></p>
                image: /uploads/pajuramacopyright467-2.jpg
                border: true
                window: false
            -
                description_html: >-
                    <p><strong>Du &amp; die Schöpfung: </strong>ist ein Seminar,
                    das dir hilft, deine Verbindung zur schöpferischen Kraft in
                    dir zu entdecken und zu stärken. Du lernst, wie du deine
                    innere Kreativität nutzen kannst, um dein Leben bewusst zu
                    gestalten und Blockaden zu überwinden. Durch gezielte
                    Übungen und Techniken erfährst du, wie du deine
                    Schöpferkraft aktivierst, um positive Veränderungen in
                    deinem Leben zu bewirken und deine persönliche Entfaltung zu
                    fördern.</p><p>Preis: CHF 440.00</p><p><a
                    href="mailto:info@karinguetiger.ch?subject=Warteliste&amp;body=Ich%20m%C3%B6chte%20gerne%20auf%20die%20Warteliste"
                    title="Warteliste">Warteliste</a></p>
                image: /uploads/pajuramacopyright301-2.jpg
                border: true
                window: false
        investition: 'Alle 4 Seminare: CHF 1´900.00 anstatt CHF 2´080.00'
        start-1:
        start-2:
        start-3:
        abschluss:
            -
                description_html: <p>Ich freue mich auf dich.</p>
---
<section class="padded padded-t-0 center capped-width grid-spaceAround-middle">
    <div class="col-5_md-7_sm-8_xs-12 relative">
        <div class="border-padded">
            <img src="/images/neu/awake-your-soul/awake-your-soul-top.jpg" class="border" />
        </div>
        <img src="/images/logos/logo-baum.png" class="pa5" />
    </div>
</section>


<section class="padded padded-t-0 capped-width-v-narrow center">
    <div class="editable">
        <h1> Awake your Soul </h1><br />
        <p> Hier findest du Angebote und Kurse, die dich auf deinem Weg zurück zu dir selbst begleiten. In den Gruppenkursen kannst du dich mit anderen Frauen austauschen und neue Blickwinkel entdecken, während du Ballast loslässt und Schritt für Schritt zu dir findest. Alles ist so gestaltet, dass du dich wieder mit dir selbst verbunden fühlst – und bereit, für dich zu gehen.</p><br /><a href="https://calendly.com/karinguetiger/verbindungscall" class="button"> Kostenloses Erstgespräch</a>
    </div>
</section>



{% for aktuell in page.aktuelle-angebote %}
<section class="kurs-border capped-width">
    <section class=" padded">
        <div class="center padded padded-b-0">
            <h1 class="h1-bigger"> {{ aktuell.titel }} </h1>
            <br />
            <h2> {{ aktuell.untertitel }} </h2>
            {% if aktuell.sections-toggle %}
            <p> {{ aktuell.description_html }} </p>
            {% endif %}
        </div>
        {% if aktuell.sections-toggle %}
            {% for section in aktuell.sections %}
            <div class="grid-spaceAround-middle flex-flip padded-t-2">
                <div class="col-6_md-12 padded">
                    <img src="{{section.image}}" class="{% if section.border %}border-padded{% endif %}{% if section.window%}window{% endif %}" />
                </div>
                <div class="col-6_md-12 padded">
                    {{section.description_html}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="padded padded-b-1">
                <div>
                    <p>  {{aktuell.description_html}} </p>
                </div>
                {% if aktuell.anmelden-text-1 %}
                <div class="center padded-t-2">
                    <a href="{{ aktuell.anmelden-1 }}" class="button"> {{ aktuell.anmelden-text-1 }} </a>
                </div>
                {% endif %}
            </div>
        {% endif %}
        {% if aktuell.investition %}
        <div class="investition center">
            <p class="investition-title"> {{ aktuell.investition}} </p>
            <br />
            {% if aktuell.start-1 %}
            <p> {{ aktuell.start-1 }} </p>
            {% endif%}
            {% if aktuell.start-2 %}
            <p> {{ aktuell.start-2 }} </p>
            {% endif%}
            {% if aktuell.start-3 %}
            <p> {{ aktuell.start-3 }} </p>
            {% endif%}
        </div>
        {% endif %}
        <div class=" center">
            {% for abschluss in aktuell.abschluss %}
           <p> {{ abschluss.description_html }}</p>
        {% endfor %}
        <br /><br />
        <a href="{{ aktuell.anmelden }}" class="button"> {{ aktuell.anmelden-text }} </a>
        {% if aktuell.sections-toggle == false %}
        <div class="padded">
            <img src="{{ aktuell.image }}" class="border-padded" />
        </div>
        {% endif %}
        </div>
    </section>
</section>
{% endfor %}


<section class="center capped-width padded">
    <div class="editable">
        <h2></h2>
    </div>
</section>

{% for kurs in page.kurse %}
<section class="kurs-border capped-width">
    <section class=" padded">
        <div class="center padded padded-b-0">
            <h1 class="h1-bigger"> {{ kurs.titel }} </h1>
            <br />
            <h2> {{ kurs.untertitel }} </h2>
            {% if kurs.sections-toggle %}
            <p> {{ kurs.description_html }} </p>
            {% endif %}
        </div>
        {% if kurs.sections-toggle %}
            {% for section in kurs.sections %}
            <div class="grid-spaceAround-middle flex-flip padded-t-2">
                <div class="col-6_md-12 padded">
                    <img src="{{section.image}}" class="{% if section.border %}border-padded{% endif %}{% if section.window%}window{% endif %}" />
                </div>
                <div class="col-6_md-12 padded">
                    {{section.description_html}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="padded">
                <div>
                    <p>  {{kurs.description_html}} </p>
                </div>
                {% if kurs.anmelden-text-1 %}
                <div class="center padded-t-2">
                    <a href="{{ kurs.anmelden-1 }}" class="button"> {{ kurs.anmelden-text-1 }} </a>
                </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="investition center">
            <p class="investition-title"> {{ kurs.investition}} </p>
            <br />
            {% if kurs.start-1 %}
            <p> {{ kurs.start-1 }} </p>
            {% endif%}
            {% if kurs.start-2 %}
            <p> {{ kurs.start-2 }} </p>
            {% endif%}
            {% if kurs.start-3 %}
            <p> {{ kurs.start-3 }} </p>
            {% endif%}
        </div>
        <div class="margin-t-2 center">
            {% for abschluss in kurs.abschluss %}
           <p> {{ abschluss.description_html }}</p>
        {% endfor %}
        <br /><br />
        <a href="{{ kurs.anmelden }}" class="button"> {{ kurs.anmelden-text }} </a>
        </div>
        {% if kurs.sections-toggle == false %}
        <div class="padded center">
            <img src="{{ kurs.image }}" class="border-padded" />
        </div>
        {% endif %}
    </section>
</section>
{% endfor %}



<!-- <section class="center capped-width padded">
    <div class="editable">
        <h2> ThetaHealing® Seminare </h2>
    </div>
</section> -->


<!----
{% for theta in page.theta %}
<section class="kurs-border capped-width">
    <section class="padded">
        <div class="center padded padded-b-0">
            <h1> {{ theta.titel }} </h1>
            <br />
            <h2> {{ theta.untertitel }} </h2>
            <br />
            {% if theta.sections-toggle %}
            <p> {{ theta.description_html }} </p>
            {% endif %}
        </div>
        {% if theta.sections-toggle %}
            {% for section in theta.sections %}
            <div class="grid-spaceAround-middle flex-flip padded-t-2">
                <div class="col-6_md-12 padded">
                    <img src="{{section.image}}" class="{% if section.border %}border-padded{% endif %}{% if section.window%}window{% endif %}" />
                </div>
                <div class="col-6_md-12 padded">
                    {{section.description_html}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="padded">
                <div>
                    <p>  {{theta.description_html}} </p>
                </div>
            </div>
            <div class="padded">
                <img src="{{ theta.image }}" class="border-padded" />
            </div>
        {% endif %}
        <div class="investition center">
            <p class="investition-title"> {{ theta.investition}} </p>
            <br />
            <p> {{ theta.start }} </p>
        </div>
        <div class="margin-t-2 center">
            {% for abschluss in theta.abschluss %}
           <p> {{ abschluss.description_html }}</p>
        {% endfor %}
        <br /><br />
        <a href="{{ theta.anmelden }}" class="button"> {{ theta.anmelden-text }} </a>
        </div>
    </section>
</section>
{% endfor %}


<section class="capped-width padded left">
    <div class="editable">
        <h2> Folgende ThetaHealing® Seminare können auf Anfrage gebucht werden. </h2><br />
        <ul>
            <li>
                <p>Manifestieren &amp; Überfluss</p>
            </li>
            <li>
                <p>Du &amp; die Erde</p>
            </li>
            <li>
                <p>Du &amp; deine bessere Hälfte</p>
            </li>
            <li>
                <p>Du &amp; dein innerer Kreis</p>
            </li>
            <li>
                <p>Seelenpartner</p>
            </li>
            <li>
                <p>Intuitive Anatomie</p>
            </li>
            <li>
                <p>Tierseminar</p>
            </li>
            <li>
                <p>Pflanzenseminar</p>
            </li>
            <li>
                <p>Weltenbeziehungen</p>
            </li>
            <li>
                <p>Rythm</p>
            </li>
            <li>
                <p>Regenbogenkinder</p>
            </li>
        </ul>
    </div>
</section>

--->

<section class="bg-image bg-overlay bg-footer-bottom tall-70 xs-tall-40 flex-center text-white">
    <div class="padded">
      <div class="relative center">
          <img src="/images/neu/index/baum-footer.svg" />
      </div>
      <div class="center margin-t-2">
        <a href="/termin-buchen.html" class="button-footer"> Ich freue mich von dir zu hören. :) </a>
      </div>
    </div>
  </section>