---
layout: landingpage
title: Landing Page Template
font-awesome: true
seo:
    title:
    description:
    social_image:
    twitter_card:
    keywords:
    hide-from-google: false
kurse:
    -
        titel: 'Awaken '
        untertitel: Heilerin der neuen Zeit
        description_html: >-
            <p><strong>AWAKEN – Heilerin der neuen Zeit</strong><br
            /><strong>Dauer: 12 Wochen</strong><br /><strong>Early Bird</strong>
            <strong>Preis bis 31.03.2025: EURO 2222 / CHF 2100 - danach steigt
            der Preis auf EURO 2800 / CHF 2630</strong></p><p>Diese 12-wöchige
            Reise hilft dir, deine Heilerinnenkraft im Alltag zu leben – nicht
            abgehoben, sondern mitten im Leben. Du wirst deine Verbindung zur
            geistigen Welt vertiefen, lernen, deine Energie bewusst zu lenken,
            und deine Gabe voller Vertrauen in dein Leben
            integrieren.</p><p><strong>Was erwartet dich?</strong></p><p>✨
            <strong>Bewusstsein &amp; Selbstwahrnehmung aktivieren</strong><br
            />Spüre deine innere Energie, komme in die Präsenz, ins Hier und
            Jetzt und erkenne dich als Heilerin der neuen Zeit.</p><p>✨
            <strong>Verbindung zur geistigen Welt &amp; deinem
            Geistführer</strong><br />Lerne, die Weisheit deiner spirituellen
            Begleiter zu empfangen und mit ihnen in den Austausch zu
            gehen.</p><p>✨ <strong>Blockierende Überzeugungen erkennen &amp;
            auflösen</strong><br />Alte Muster, Zweifel und Ängste lösen sich,
            damit du deine Fähigkeiten in vollem Vertrauen leben kannst.</p><p>✨
            <strong>Heilung und Selbstheilung</strong><br />Entdecke, wie du
            heilende Energie in dein Leben und das Leben anderer bringen
            kannst.</p><p>✨ <strong>Manifestation deiner Wünsche und
            Sehnsüchte</strong><br />Bevor etwas in dein Leben treten kann,
            musst du wissen, was du wirklich willst. Wir tauchen tief in deine
            Sehnsüchte ein – fernab von äusseren Erwartungen. Du lernst,
            zwischen oberflächlichen Wünschen und deiner tiefen inneren Wahrheit
            zu unterscheiden. Sobald du Klarheit hast, verbinden wir deine
            Visionen mit der Kraft der geistigen Welt und bringen sie in die
            Realität.</p><p>✨ <strong>Energetische Felder lesen</strong><br
            />Nimm die feinen Schwingungen von Menschen und Situationen bewusst
            wahr und lerne, Energien gezielt zu verändern.</p><p>✨
            <strong>Übungen für Leichtigkeit im Alltag</strong><br />Finde
            Balance, Klarheit und Ruhe, um deinen Alltag mit mehr Gelassenheit
            und Harmonie zu gestalten.</p><p>✨ <strong>Seelenmission
            erfahren</strong><br />Verbinde dich mit deiner tieferen
            Lebensaufgabe und integriere sie in dein Leben.</p><p><strong>Für
            wen ist diese Ausbildung geeignet?</strong></p><p>Diese Ausbildung
            passt zu dir, wenn du:</p><p>✨ Deine eigene Heilerenergie entdecken
            und entfalten möchtest.<br />✨ Dich mit deiner inneren Weisheit
            verbinden und Blockaden loslassen willst.<br />✨ Deine spirituelle
            Verbindung vertiefen und den Weg der Heilung in dein Leben
            integrieren möchtest.<br />✨ Bereit bist, die Kraft deiner
            Wahrnehmung zu leben und zu teilen.</p><p><strong>Dein nächster
            Schritt:</strong></p><p>Spürst du den Ruf die Türe zu einer neuen
            Phase deines Lebens zu öffnen ? </p><p>👉 <strong>Dann sichere dir
            jetzt deinen Platz und starte deine Reise in ein anderes
            Leben.</strong></p>
        anmelden-text-1: Kennenlerngespräch buchen
        anmelden-1: https://calendly.com/karinguetiger/verbindungscall
        image: /uploads/pajuramacopyright496-1.jpg
        sections-toggle: false
        sections:
            -
                description_html: >-
                    <p><strong>Dauer:</strong> 8 Wochen<br
                    /><strong>Inhalt:</strong> Wöchentliche Zoomcalls,
                    exklusiver Mitgliederbereich, 2 x 1:1 Session,
                    unterstützende Facebook-Gruppe<br /><strong>Preis:</strong>
                    EURO 1899 / CHF 1800</p>
                image: /images/pajuramacopyright496-1.jpg
                border: true
                window: false
            -
                description_html: ''
                image: ''
                border: true
                window: false
            -
                description_html: ''
                image: ''
                border: true
                window: false
        investition: 'Preis: EURO 2222 - CHF 2´100.- '
        start-1: Ratenzahlung möglich, bitte kontaktiere mich
        start-2: 'Start: 1. Mai 2025, 19.30 Uhr via Zoom'
        start-3:
        abschluss:
            -
                description_html: ''
        anmelden-text: Direkt buchen
        anmelden: https://buy.stripe.com/eVa4hXf9c89Xcbm8x3
---
{% for kurs in page.kurse %}
<section class="kurs-border capped-width">
    <section class=" padded">
        <div class="center padded padded-b-0">
            <h1 class="h1-bigger"> {{ kurs.titel }} </h1>
            <br />
            <h2> {{ kurs.untertitel }} </h2>
            {% if kurs.sections-toggle %}
            <p> {{ kurs.description_html }} </p>
            {% endif %}
        </div>
        <!-- {% if kurs.sections-toggle == false %}
        <div class="padded center">
            <img src="{{ kurs.image }}" class="border-padded" />
        </div>
        {% endif %} -->
        {% if kurs.sections-toggle %}
            {% for section in kurs.sections %}
            <div class="grid-spaceAround-middle flex-flip padded-t-2">
                <div class="col-6_md-12 padded">
                    <img src="{{section.image}}" class="{% if section.border %}border-padded{% endif %}{% if section.window%}window{% endif %}" />
                </div>
                <div class="col-6_md-12 padded">
                    {{section.description_html}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="padded">
                <div>
                    <p>  {{kurs.description_html}} </p>
                </div>
                {% if kurs.anmelden-text-1 %}
                <div class="center padded-t-2">
                    <a href="{{ kurs.anmelden-1 }}" class="button"> {{ kurs.anmelden-text-1 }} </a>
                </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="investition center">
            <p class="investition-title"> {{ kurs.investition}} </p>
            <br />
            {% if kurs.start-1 %}
            <p> {{ kurs.start-1 }} </p>
            {% endif%}
            {% if kurs.start-2 %}
            <p> {{ kurs.start-2 }} </p>
            {% endif%}
            {% if kurs.start-3 %}
            <p> {{ kurs.start-3 }} </p>
            {% endif%}
        </div>
        <div class="margin-t-2 center">
            {% for abschluss in kurs.abschluss %}
           <p> {{ abschluss.description_html }}</p>
        {% endfor %}
        <br /><br />
        <a href="{{ kurs.anmelden }}" class="button"> {{ kurs.anmelden-text }} </a>
        </div>
    </section>
</section>
{% endfor %}



<!-- <section class="center capped-width padded">
    <div class="editable">
        <h2> ThetaHealing® Seminare </h2>
    </div>
</section> -->


<!----
{% for theta in page.theta %}
<section class="kurs-border capped-width">
    <section class="padded">
        <div class="center padded padded-b-0">
            <h1> {{ theta.titel }} </h1>
            <br />
            <h2> {{ theta.untertitel }} </h2>
            <br />
            {% if theta.sections-toggle %}
            <p> {{ theta.description_html }} </p>
            {% endif %}
        </div>
        {% if theta.sections-toggle %}
            {% for section in theta.sections %}
            <div class="grid-spaceAround-middle flex-flip padded-t-2">
                <div class="col-6_md-12 padded">
                    <img src="{{section.image}}" class="{% if section.border %}border-padded{% endif %}{% if section.window%}window{% endif %}" />
                </div>
                <div class="col-6_md-12 padded">
                    {{section.description_html}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="padded">
                <div>
                    <p>  {{theta.description_html}} </p>
                </div>
            </div>
            <div class="padded">
                <img src="{{ theta.image }}" class="border-padded" />
            </div>
        {% endif %}
        <div class="investition center">
            <p class="investition-title"> {{ theta.investition}} </p>
            <br />
            <p> {{ theta.start }} </p>
        </div>
        <div class="margin-t-2 center">
            {% for abschluss in theta.abschluss %}
           <p> {{ abschluss.description_html }}</p>
        {% endfor %}
        <br /><br />
        <a href="{{ theta.anmelden }}" class="button"> {{ theta.anmelden-text }} </a>
        </div>
    </section>
</section>
{% endfor %}


<section class="capped-width padded left">
    <div class="editable">
        <h2> Folgende ThetaHealing® Seminare können auf Anfrage gebucht werden. </h2><br />
        <ul>
            <li>
                <p>Manifestieren &amp; Überfluss</p>
            </li>
            <li>
                <p>Du &amp; die Erde</p>
            </li>
            <li>
                <p>Du &amp; deine bessere Hälfte</p>
            </li>
            <li>
                <p>Du &amp; dein innerer Kreis</p>
            </li>
            <li>
                <p>Seelenpartner</p>
            </li>
            <li>
                <p>Intuitive Anatomie</p>
            </li>
            <li>
                <p>Tierseminar</p>
            </li>
            <li>
                <p>Pflanzenseminar</p>
            </li>
            <li>
                <p>Weltenbeziehungen</p>
            </li>
            <li>
                <p>Rythm</p>
            </li>
            <li>
                <p>Regenbogenkinder</p>
            </li>
        </ul>
    </div>
</section>

--->
