---
layout: default
title: Awake your Soul
font-awesome: true
seo:
    title: Awake your Soul
    description: Heilerausbildung, Chakra Heilung, Theta Healing Gruppencoachings
    social_image:
    twitter_card:
    keywords: Mentoring, Chakra Flow, Soulmission
    hide-from-google: false
aktuelle-angebote:
    -
        titel: Aktuelle Angebote
        untertitel:
        description_html: >-
            <h2><strong>Seelenimpuls</strong></h2><p>15 Minuten im Zoom, 1 Frage
            - CHF 44</p><p>Für den Moment, wenn eine klare Antwort jetzt wichtig
            ist. Ein kraftvoller Impuls, der dich weiterbringt.</p><p><a
            href="https://buy.stripe.com/28E4gy2NdfEFebM7ay1Jm1b">Buchen</a></p><h2><strong>Seelenreading</strong></h2><p>60
            Minuten im Zoom - CHF 222<br />Wenn du tief eintauchen willst in
            deine Essenz, Klarheit für dein ganzes Thema suchst und spürbar
            Verbindung zu dir aufbauen möchtest.</p><p><a
            href="https://buy.stripe.com/6oU7sK3Rhdwx1p0fH41Jm0Z">Buchen</a></p>
        anmelden-text-1:
        anmelden-1:
        image: /images/pajuramacopyright327-2.jpg
        sections-toggle: false
        sections:
            -
                description_html: >-
                    <p><strong>Was dich
                    erwartet:</strong></p><ul><li><p><strong>7 wöchentliche
                    Gruppensitzungen: </strong>ca. 2
                    Std.</p></li><li><p><strong>Workbook: </strong>mit
                    Theorieinhalten und
                    Reflexionsübungen</p></li><li><p><strong>7
                    Körperprozesse</strong>: Audio-Aufnahmen für jede Woche, die
                    dir helfen, die energetischen Veränderungen zu
                    verankern.</p></li><li><p><strong>Energetische
                    Wirbelsäulenaufrichtung</strong>: Für eine tiefere
                    Verbindung zu deinem Körper und deiner inneren
                    Balance.</p></li></ul>
                image: /images/familienmediation/bild-2.jpg
                border: true
                window: false
        investition:
        start-1:
        start-2:
        start-3:
        abschluss:
            -
                description_html:
        anmelden-text: Jetzt Infogespräch buchen
        anmelden: https://karinguetiger.ch/termin-buchen
kurse:
    -
        titel: SOULCOUCH
        untertitel: ThetaHealing® meets Soul & Energywork
        description_html: >-
            <p><strong>Die Ausbildung für Frauen, die aus ihrer Seele heraus
            wirken möchten</strong></p><p>Es gibt Momente im Leben, in denen wir
            spüren, dass wir nicht mehr in alten Rollen bleiben können. Dass wir
            nicht länger funktionieren wollen. Dass da etwas in uns ruft, das
            leiser, aber wahrer ist als alles, was wir bisher gehört haben. Eine
            Sehnsucht nach Tiefe. Nach Verbindung. Nach einem Weg, der echt
            ist.</p><p>Genau hier beginnt diese Ausbildung.</p><p>Sie bringt
            dich nicht höher, sondern tiefer – hinein in deine Seele, in deine
            Wahrnehmung, in die Wahrheit, die schon lange darauf wartet, dass du
            ihr vertraust. In diesen sechs Monaten öffnet sich ein Raum, in dem
            du dich wieder selbst findest. Du lernst, deine innere Stimme klarer
            zu hören, deine Energie zu halten, ohne dich zu verlieren, und aus
            einer Ruhe heraus zu begleiten, die warm und wahr
            ist.</p><p>ThetaHealing® führt dich dabei wie durch vier kraftvolle
            Tore. Basis DNA, Aufbau DNA, Grabe Tiefer und Du &amp; der Schöpfer
            öffnen dich für eine Verbindung, die klarer ist als der Verstand und
            tiefer als jede Technik. Du lernst, innere Programme zu erkennen und
            zu lösen, alte Muster zu verstehen und zu heilen und auf
            energetischer Ebene zu arbeiten, ohne abzuheben oder dich zu
            verlieren.</p><p>Gleichzeitig wächst deine Seelenverbindung. Du
            lernst zu fühlen, wann deine Seele spricht und wann dein Verstand
            versucht, zu übernehmen. Du beginnst zu spüren, wie Energie fließt
            und wie du sie führen kannst. Nicht laut, nicht dramatisch, sondern
            warm, sicher und klar.</p><p>Und während du in dir selbst ankommst,
            wächst auch deine Fähigkeit, andere zu begleiten. Du lernst, Räume
            zu öffnen, in denen Menschen sich wirklich fühlen dürfen. Räume, die
            weich sind, aber halten. Räume, in denen Heilung möglich wird, weil
            du präsent bist – mit deinem Herzen, deiner Seele, deiner
            Klarheit.</p><p>Diese Ausbildung ist für Frauen, die spüren, dass
            sie etwas weitergeben möchten. Für Frauen, die tief fühlen. Für
            Frauen, die nicht laut sein wollen, um wirksam zu sein. Für Frauen,
            die sich selbst finden möchten, bevor sie andere führen. Für Frauen,
            die wissen, dass ihre Gabe darin liegt, zu sehen, zu fühlen, zu
            verbinden.</p><p>Während der sechs Monate übst du regelmäßig,
            bekommst Supervision, lernst, dich selbst zu halten und deine
            Energie zu schützen. Du wirst sicherer, stabiler, klarer. Und
            irgendwann, oft ganz leise, spürst du: Jetzt bin ich bereit. Nicht
            perfekt. Nicht fehlerfrei. Sondern verkörpert. Wahr.
            Verbunden.</p><p>Am Ende dieser Reise stehst du als SoulCoachin da.
            Nicht als Rolle, sondern als Identität, die aus deiner Seele wächst.
            Du begleitest anders. Du fühlst anders. Du öffnest anders. Weil du
            nicht mehr suchst, sondern gefunden hast, was du lange in dir
            getragen hast: deine eigene Wahrheit.</p><p>Wenn du beim Lesen
            spürst, dass etwas in dir warm wird, sich weitet oder flüstert, dann
            ist das der Anfang. Deine Seele ruft. Und sie ruft nicht ohne
            Grund.</p><p>Preis: EUR 4´444<br />Dauer: 6 Monate</p>
        anmelden-text-1: Kennenlerngespräch buchen
        anmelden-1: https://calendly.com/karinguetiger/verbindungscall
        image: /images/awake-your-soul/4.jpg
        sections-toggle: false
        sections:
            -
                description_html: ''
                image: ''
                border: true
                window: false
        investition: 'Preis: EUR 3´333'
        start-1: >-
            Bei Interesse an einer Ratenzahlung, kontaktiere mich gerne unter
            info@karinguetiger.ch
        start-2: 'Start: 3. Februar 2026, 20.00 Uhr via Zoom'
        start-3:
        abschluss:
            -
                description_html: ''
        anmelden-text: Direkt buchen
        anmelden: https://karinguetiger.ch/kontakt
theta:
    -
        titel: Grundseminare Theta Healing®
        untertitel:
        description_html: >-
            <p>Entdecke eine kraftvolle Heiltechnik, die dir hilft, Blockaden zu
            lösen und tiefgreifende Transformationen in deinem Leben zu
            erreichen. In meinen Seminaren lernst du, wie du effektive Werkzeuge
            anwendest, um alte Muster zu durchbrechen und deine persönliche
            Entwicklung zu fördern. Jeder Kurs ist ein Schritt auf deinem Weg zu
            mehr Klarheit und innerer Stärke.</p>
        anmelden-text: Packet buchen
        anmelden: /kontakt.html
        image: /images/awake-your-soul/aurora-femina.jpg
        sections-toggle: true
        sections:
            -
                description_html: >-
                    <p><strong>Basis DNA Seminar</strong></p><p>Das
                    Basis-Seminar von Theta Healing® legt den Grundstein für
                    deine Reise in die Heilung und Selbstentfaltung. In diesem
                    Kurs lernst du die grundlegenden Techniken, um Blockaden und
                    Glaubenssätze zu erkennen und zu transformieren. Du wirst in
                    die Kraft des Theta-Zustands eingeführt, um tiefgreifende
                    Heilungen in Körper, Geist und Seele zu erfahren und ein
                    starkes Fundament für deine persönliche Weiterentwicklung zu
                    schaffen.</p><p>Preis: CHF
                    600.00                             </p><p><a
                    href="mailto:info@karinguetiger.ch?subject=Warteliste&amp;body=Ich%20m%C3%B6chte%20gerne%20auf%20die%20Warteliste"
                    title="Warteliste">Warteliste</a></p>
                image: /images/neu/awake-your-soul/awake-your-soul-top.jpg
                border: true
                window: false
            -
                description_html: >-
                    <p><strong>Aufbau-Seminar:</strong></p><p>Im Aufbau-Seminar
                    vertiefst du dein Wissen und deine Fähigkeiten im Theta
                    Healing. Hier lernst du, wie du fortgeschrittene
                    Heiltechniken anwendest und deine Intuition weiter stärkst.
                    Das Seminar ermöglicht es dir, tiefergehende Blockaden zu
                    bearbeiten, komplexe Themen zu verstehen und deine
                    persönliche Entwicklung auf eine neue Ebene zu bringen. Es
                    ist die nächste Stufe auf deinem Weg zu mehr Klarheit und
                    innerer Stärke.</p><p>Preis: CHF 600.00</p><p><a
                    href="mailto:info@karinguetiger.ch?subject=Warteliste&amp;body=Ich%20m%C3%B6chte%20gerne%20auf%20die%20Warteliste"
                    title="Warteliste">Warteliste</a></p>
                image: /images/neu/index/index-card-2.jpg
                border: false
                window: true
            -
                description_html: >-
                    <p><strong>Grabe Tiefer-Seminar:</strong></p><p>Das Grabe
                    Tiefer-Seminar bietet dir die Möglichkeit, verborgene und
                    tiefsitzende Blockaden zu entdecken und zu transformieren.
                    In diesem intensiven Kurs lernst du fortgeschrittene
                    Techniken, um die tiefsten Wurzeln deiner Themen zu
                    erforschen und aufzulösen. Du erfährst, wie du deine eigene
                    Heilung auf ein tieferes Level bringen und nachhaltige
                    Veränderungen in deinem Leben bewirken kannst.</p><p>Preis:
                    CHF 440.00</p><p><a
                    href="mailto:info@karinguetiger.ch?subject=Warteliste&amp;body=Ich%20m%C3%B6chte%20gerne%20auf%20die%20Warteliste"
                    title="Warteliste">Warteliste</a></p>
                image: /uploads/pajuramacopyright467-2.jpg
                border: true
                window: false
            -
                description_html: >-
                    <p><strong>Du &amp; die Schöpfung: </strong>ist ein Seminar,
                    das dir hilft, deine Verbindung zur schöpferischen Kraft in
                    dir zu entdecken und zu stärken. Du lernst, wie du deine
                    innere Kreativität nutzen kannst, um dein Leben bewusst zu
                    gestalten und Blockaden zu überwinden. Durch gezielte
                    Übungen und Techniken erfährst du, wie du deine
                    Schöpferkraft aktivierst, um positive Veränderungen in
                    deinem Leben zu bewirken und deine persönliche Entfaltung zu
                    fördern.</p><p>Preis: CHF 440.00</p><p><a
                    href="mailto:info@karinguetiger.ch?subject=Warteliste&amp;body=Ich%20m%C3%B6chte%20gerne%20auf%20die%20Warteliste"
                    title="Warteliste">Warteliste</a></p>
                image: /uploads/pajuramacopyright301-2.jpg
                border: true
                window: false
        investition: 'Alle 4 Seminare: CHF 1´900.00 anstatt CHF 2´080.00'
        start-1:
        start-2:
        start-3:
        abschluss:
            -
                description_html: <p>Ich freue mich auf dich.</p>
---
<section class="padded padded-t-0 center capped-width grid-spaceAround-middle">
    <div class="col-5_md-7_sm-8_xs-12 relative">
        <div class="border-padded">
            <img src="/images/neu/awake-your-soul/awake-your-soul-top.jpg" class="border" />
        </div>
        <img src="/images/logos/logo-baum.png" class="pa5" />
    </div>
</section>


<section class="padded padded-t-0 capped-width-v-narrow center">
    <div class="editable">
        <h1> Awake your Soul </h1><br />
        <p><strong>Awake your Soul</strong><br />Heilräume für Menschen, die tiefer gehen wollen.<br />Zurück zur eigenen Wahrheit. Zurück zur Seele.</p>
        <p>Hier findest du Gruppenangebote, die mehr sind als Coaching:<br />Verbindung, Erinnerung, Verkörperung.</p>
        <p>Das Herzstück ist <strong>AWAKEN SOUL</strong>&nbsp;- Erkenne und lebe deinen Seelenweg -<br />für Menschen, die spüren: <em>Ich bin hier, um meiner Seele zu folgen.</em></p>
        <p>Spürst du den Ruf?<br /></p><a href="https://calendly.com/karinguetiger/verbindungscall" class="button"> Kostenloses Erstgespräch</a>
    </div>
</section>



{% for aktuell in page.aktuelle-angebote %}
<section class="kurs-border capped-width">
    <section class=" padded padded-t-0">
        <div class="center padded padded-b-0">
            <h1 class="h1-bigger"> {{ aktuell.titel }} </h1>
            <br />
            <h2> {{ aktuell.untertitel }} </h2>
            {% if aktuell.sections-toggle %}
            <p> {{ aktuell.description_html }} </p>
            {% endif %}
        </div>
        {% if aktuell.sections-toggle %}
            {% for section in aktuell.sections %}
            <div class="grid-spaceAround-middle flex-flip padded-t-2">
                <div class="col-6_md-12 padded">
                    <img src="{{section.image}}" class="{% if section.border %}border-padded{% endif %}{% if section.window%}window{% endif %}" />
                </div>
                <div class="col-6_md-12 padded">
                    {{section.description_html}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="padded padded-b-1">
                <div>
                    <p>  {{aktuell.description_html}} </p>
                </div>
                {% if aktuell.anmelden-text-1 %}
                <div class="center padded-t-2">
                    <a href="{{ aktuell.anmelden-1 }}" class="button"> {{ aktuell.anmelden-text-1 }} </a>
                </div>
                {% endif %}
            </div>
        {% endif %}
        {% if aktuell.investition %}
        <div class="investition center">
            <p class="investition-title"> {{ aktuell.investition}} </p>
            <br />
            {% if aktuell.start-1 %}
            <p> {{ aktuell.start-1 }} </p>
            {% endif%}
            {% if aktuell.start-2 %}
            <p> {{ aktuell.start-2 }} </p>
            {% endif%}
            {% if aktuell.start-3 %}
            <p> {{ aktuell.start-3 }} </p>
            {% endif%}
        </div>
        {% endif %}
        <div class=" center">
            {% for abschluss in aktuell.abschluss %}
           <p> {{ abschluss.description_html }}</p>
        {% endfor %}
        <br /><br />
        <a href="{{ aktuell.anmelden }}" class="button"> {{ aktuell.anmelden-text }} </a>
        {% if aktuell.sections-toggle == false %}
        <div class="padded">
            <img src="{{ aktuell.image }}" class="border-padded" />
        </div>
        {% endif %}
        </div>
    </section>
</section>
{% endfor %}


<section class="center capped-width padded">
    <div class="editable">
        <h2></h2>
    </div>
</section>

{% for kurs in page.kurse %}
<section class="kurs-border capped-width">
    <section class=" padded padded-t-0">
        <div class="center padded padded-b-0">
            <h1 class="h1-bigger"> {{ kurs.titel }} </h1>
            <br />
            <h2> {{ kurs.untertitel }} </h2>
            {% if kurs.sections-toggle %}
            <p> {{ kurs.description_html }} </p>
            {% endif %}
        </div>
        {% if kurs.sections-toggle %}
            {% for section in kurs.sections %}
            <div class="grid-spaceAround-middle flex-flip padded-t-2">
                <div class="col-6_md-12 padded">
                    <img src="{{section.image}}" class="{% if section.border %}border-padded{% endif %}{% if section.window%}window{% endif %}" />
                </div>
                <div class="col-6_md-12 padded">
                    {{section.description_html}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="padded">
                <div>
                    <p>  {{kurs.description_html}} </p>
                </div>
                {% if kurs.anmelden-text-1 %}
                <div class="center padded-t-2">
                    <a href="{{ kurs.anmelden-1 }}" class="button"> {{ kurs.anmelden-text-1 }} </a>
                </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="investition center">
            <p class="investition-title"> {{ kurs.investition}} </p>
            <br />
            {% if kurs.start-1 %}
            <p> {{ kurs.start-1 }} </p>
            {% endif%}
            {% if kurs.start-2 %}
            <p> {{ kurs.start-2 }} </p>
            {% endif%}
            {% if kurs.start-3 %}
            <p> {{ kurs.start-3 }} </p>
            {% endif%}
        </div>
        <div class="margin-t-2 center">
            {% for abschluss in kurs.abschluss %}
           <p> {{ abschluss.description_html }}</p>
        {% endfor %}
        <br /><br />
        <a href="{{ kurs.anmelden }}" class="button"> {{ kurs.anmelden-text }} </a>
        </div>
        {% if kurs.sections-toggle == false %}
        <div class="padded center">
            <img src="{{ kurs.image }}" class="border-padded" />
        </div>
        {% endif %}
    </section>
</section>
{% endfor %}



<!-- <section class="center capped-width padded">
    <div class="editable">
        <h2> ThetaHealing® Seminare </h2>
    </div>
</section> -->


<!----
{% for theta in page.theta %}
<section class="kurs-border capped-width">
    <section class="padded">
        <div class="center padded padded-b-0">
            <h1> {{ theta.titel }} </h1>
            <br />
            <h2> {{ theta.untertitel }} </h2>
            <br />
            {% if theta.sections-toggle %}
            <p> {{ theta.description_html }} </p>
            {% endif %}
        </div>
        {% if theta.sections-toggle %}
            {% for section in theta.sections %}
            <div class="grid-spaceAround-middle flex-flip padded-t-2">
                <div class="col-6_md-12 padded">
                    <img src="{{section.image}}" class="{% if section.border %}border-padded{% endif %}{% if section.window%}window{% endif %}" />
                </div>
                <div class="col-6_md-12 padded">
                    {{section.description_html}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="padded">
                <div>
                    <p>  {{theta.description_html}} </p>
                </div>
            </div>
            <div class="padded">
                <img src="{{ theta.image }}" class="border-padded" />
            </div>
        {% endif %}
        <div class="investition center">
            <p class="investition-title"> {{ theta.investition}} </p>
            <br />
            <p> {{ theta.start }} </p>
        </div>
        <div class="margin-t-2 center">
            {% for abschluss in theta.abschluss %}
           <p> {{ abschluss.description_html }}</p>
        {% endfor %}
        <br /><br />
        <a href="{{ theta.anmelden }}" class="button"> {{ theta.anmelden-text }} </a>
        </div>
    </section>
</section>
{% endfor %}


<section class="capped-width padded left">
    <div class="editable">
        <h2> Folgende ThetaHealing® Seminare können auf Anfrage gebucht werden. </h2><br />
        <ul>
            <li>
                <p>Manifestieren &amp; Überfluss</p>
            </li>
            <li>
                <p>Du &amp; die Erde</p>
            </li>
            <li>
                <p>Du &amp; deine bessere Hälfte</p>
            </li>
            <li>
                <p>Du &amp; dein innerer Kreis</p>
            </li>
            <li>
                <p>Seelenpartner</p>
            </li>
            <li>
                <p>Intuitive Anatomie</p>
            </li>
            <li>
                <p>Tierseminar</p>
            </li>
            <li>
                <p>Pflanzenseminar</p>
            </li>
            <li>
                <p>Weltenbeziehungen</p>
            </li>
            <li>
                <p>Rythm</p>
            </li>
            <li>
                <p>Regenbogenkinder</p>
            </li>
        </ul>
    </div>
</section>

--->

<section class="bg-image bg-overlay bg-footer-bottom tall-70 xs-tall-40 flex-center text-white">
    <div class="padded">
      <div class="relative center">
          <img src="/images/neu/index/baum-footer.svg" />
      </div>
      <div class="center margin-t-2">
        <a href="/termin-buchen.html" class="button-footer"> Ich freue mich von dir zu hören. :) </a>
      </div>
    </div>
  </section>