---
layout: landingpage
title: Landing Page Template
font-awesome: true
seo:
    title:
    description:
    social_image:
    twitter_card:
    keywords:
    hide-from-google: false
kurse:
    -
        titel: 'Awaken '
        untertitel: Heilerin der neuen Zeit
        description_html: >-
            <p><strong>Dauer:</strong> 8 Wochen</p><p><strong>Inhalt:</strong>
            </p><ul><li><p>8-wöchentliche Zoomcalls</p></li><li><p>exklusiver
            Mitgliederbereich</p></li><li><p>2 x 1:1
            Session</p></li><li><p>unterstützende Facebook-/ oder
            WhatsAppGruppe</p></li></ul><p><br /><strong>Preis:</strong> EURO
            2222 / CHF 2100</p><p><strong>Was erwartet
            dich?</strong></p><p>Diese 8-wöchige Reise führt dich zurück zu
            deiner wahren Kraft – als Heilerin der neuen Zeit. Du wirst nicht
            nur lernen, deine Wahrnehmung zu schärfen, sondern auch die tiefe
            Verbindung zu dir selbst und der geistigen Welt wiederherzustellen.
            Gemeinsam lösen wir Blockaden, bauen Vertrauen in deine Fähigkeiten
            auf und schaffen Raum für echte Veränderung. Es ist Zeit, deine
            Heilerinnenkraft zu entfalten und dir selbst zu erlauben, die zu
            sein, die du schon immer warst.</p><p><strong>Das wirst du während
            der Ausbildung lernen und erleben:</strong></p><p>✨
            <strong>Bewusstsein &amp; Selbstwahrnehmung aktivieren</strong><br
            />Spüre deine innere Energie und erkenne dich als die Heilerin der
            neuen Zeit, die du bist.</p><p>✨ <strong>Verbindung zur geistigen
            Welt &amp; deinem Geistführer</strong><br />Lerne, die Weisheit
            deiner spirituellen Begleiter zu empfangen und baue eine tiefere
            Kommunikation mit deinem Geistführer auf.</p><p>✨
            <strong>Blockierende Überzeugungen erkennen &amp;
            transformieren</strong><br />Identifiziere die Glaubenssätze, die
            dich zurückhalten, und löse sie – damit du Platz für dein Wachstum
            und neue Möglichkeiten schaffst.</p><p>✨ <strong>Heilung und
            Selbstheilung</strong><br />Erhalte kraftvolle Techniken, um
            heilende Energien für dich und andere fließen zu lassen und Körper,
            Geist und Seele in Einklang zu bringen.</p><p>✨
            <strong>Manifestation deiner Wünsche und Sehnsüchte</strong><br
            />Nutze Manifestationstechniken, um deine tiefsten Wünsche in die
            Realität zu bringen.</p><p>✨ <strong>Energetische Felder
            lesen</strong><br />Entwickle die Fähigkeit, die energetischen
            Felder von Menschen und Situationen wahrzunehmen und bewusst zu
            verändern.</p><p>✨ <strong>Übungen für Leichtigkeit im
            Alltag</strong><br />Setze praktische Tools ein, um mehr Balance,
            Klarheit und Gelassenheit in deinem Alltag zu finden.</p><p>✨
            <strong>Seelenmission erfahren</strong><br />Finde deine tiefere
            Lebensaufgabe und integriere sie in deinen Alltag, um aus dir heraus
            dein Leben zu gestalten.</p><p><strong>Für wen ist diese Ausbildung
            geeignet?</strong></p><p>Diese Ausbildung ist für dich, wenn
            du:</p><p>✨ Deine Heilungsreise beginnen oder vertiefen möchtest.<br
            />✨ Deine innere Heilerin aktivieren willst und bereit bist, dich
            mit deiner wahren Kraft zu verbinden.<br />✨ Werkzeuge suchst, um
            Blockaden zu transformieren und deine Energie zu heilen.<br />✨
            Bereit bist, deine innere Weisheit zu entfalten und dich mit deinem
            tiefsten Kern zu verbinden.</p><p><strong>Dein nächster
            Schritt:</strong></p><p>Es ist Zeit, die Heilerin in dir zu
            erwecken. Öffne die Tür zu einem kraftvollen neuen Kapitel in deinem
            Leben. Diese Ausbildung ist die Einladung, deine wahren
            Schöpferinnenkraft zu leben und dich mit der geistigen Welt auf
            einer tiefen Ebene zu verbinden.</p><p>👉 <strong>Plätze sind
            begrenzt – sichere dir jetzt deinen Platz und werde Teil dieser
            transformierenden Reise.</strong></p>
        anmelden-text-1: Kennenlerngespräch buchen
        anmelden-1: https://calendly.com/karinguetiger/verbindungscall
        image: /uploads/pajuramacopyright496-1.jpg
        sections-toggle: false
        sections:
            -
                description_html: >-
                    <p><strong>Dauer:</strong> 8 Wochen<br
                    /><strong>Inhalt:</strong> Wöchentliche Zoomcalls,
                    exklusiver Mitgliederbereich, 2 x 1:1 Session,
                    unterstützende Facebook-Gruppe<br /><strong>Preis:</strong>
                    EURO 1899 / CHF 1800</p>
                image: /images/pajuramacopyright496-1.jpg
                border: true
                window: false
            -
                description_html: ''
                image: ''
                border: true
                window: false
            -
                description_html: ''
                image: ''
                border: true
                window: false
        investition: 'Preis: EURO 2222 - CHF 2´100.- '
        start-1: Ratenzahlung möglich, bitte kontaktiere mich
        start-2: 'Start: 1. Mai 2025, 19.30 Uhr via Zoom'
        start-3:
        abschluss:
            -
                description_html: ''
        anmelden-text: Direkt buchen
        anmelden: https://buy.stripe.com/eVa4hXf9c89Xcbm8x3
---
{% for kurs in page.kurse %}
<section class="kurs-border capped-width">
    <section class=" padded">
        <div class="center padded padded-b-0">
            <h1 class="h1-bigger"> {{ kurs.titel }} </h1>
            <br />
            <h2> {{ kurs.untertitel }} </h2>
            {% if kurs.sections-toggle %}
            <p> {{ kurs.description_html }} </p>
            {% endif %}
        </div>
        <!-- {% if kurs.sections-toggle == false %}
        <div class="padded center">
            <img src="{{ kurs.image }}" class="border-padded" />
        </div>
        {% endif %} -->
        {% if kurs.sections-toggle %}
            {% for section in kurs.sections %}
            <div class="grid-spaceAround-middle flex-flip padded-t-2">
                <div class="col-6_md-12 padded">
                    <img src="{{section.image}}" class="{% if section.border %}border-padded{% endif %}{% if section.window%}window{% endif %}" />
                </div>
                <div class="col-6_md-12 padded">
                    {{section.description_html}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="padded">
                <div>
                    <p>  {{kurs.description_html}} </p>
                </div>
                {% if kurs.anmelden-text-1 %}
                <div class="center padded-t-2">
                    <a href="{{ kurs.anmelden-1 }}" class="button"> {{ kurs.anmelden-text-1 }} </a>
                </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="investition center">
            <p class="investition-title"> {{ kurs.investition}} </p>
            <br />
            {% if kurs.start-1 %}
            <p> {{ kurs.start-1 }} </p>
            {% endif%}
            {% if kurs.start-2 %}
            <p> {{ kurs.start-2 }} </p>
            {% endif%}
            {% if kurs.start-3 %}
            <p> {{ kurs.start-3 }} </p>
            {% endif%}
        </div>
        <div class="margin-t-2 center">
            {% for abschluss in kurs.abschluss %}
           <p> {{ abschluss.description_html }}</p>
        {% endfor %}
        <br /><br />
        <a href="{{ kurs.anmelden }}" class="button"> {{ kurs.anmelden-text }} </a>
        </div>
    </section>
</section>
{% endfor %}



<!-- <section class="center capped-width padded">
    <div class="editable">
        <h2> ThetaHealing® Seminare </h2>
    </div>
</section> -->


<!----
{% for theta in page.theta %}
<section class="kurs-border capped-width">
    <section class="padded">
        <div class="center padded padded-b-0">
            <h1> {{ theta.titel }} </h1>
            <br />
            <h2> {{ theta.untertitel }} </h2>
            <br />
            {% if theta.sections-toggle %}
            <p> {{ theta.description_html }} </p>
            {% endif %}
        </div>
        {% if theta.sections-toggle %}
            {% for section in theta.sections %}
            <div class="grid-spaceAround-middle flex-flip padded-t-2">
                <div class="col-6_md-12 padded">
                    <img src="{{section.image}}" class="{% if section.border %}border-padded{% endif %}{% if section.window%}window{% endif %}" />
                </div>
                <div class="col-6_md-12 padded">
                    {{section.description_html}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="padded">
                <div>
                    <p>  {{theta.description_html}} </p>
                </div>
            </div>
            <div class="padded">
                <img src="{{ theta.image }}" class="border-padded" />
            </div>
        {% endif %}
        <div class="investition center">
            <p class="investition-title"> {{ theta.investition}} </p>
            <br />
            <p> {{ theta.start }} </p>
        </div>
        <div class="margin-t-2 center">
            {% for abschluss in theta.abschluss %}
           <p> {{ abschluss.description_html }}</p>
        {% endfor %}
        <br /><br />
        <a href="{{ theta.anmelden }}" class="button"> {{ theta.anmelden-text }} </a>
        </div>
    </section>
</section>
{% endfor %}


<section class="capped-width padded left">
    <div class="editable">
        <h2> Folgende ThetaHealing® Seminare können auf Anfrage gebucht werden. </h2><br />
        <ul>
            <li>
                <p>Manifestieren &amp; Überfluss</p>
            </li>
            <li>
                <p>Du &amp; die Erde</p>
            </li>
            <li>
                <p>Du &amp; deine bessere Hälfte</p>
            </li>
            <li>
                <p>Du &amp; dein innerer Kreis</p>
            </li>
            <li>
                <p>Seelenpartner</p>
            </li>
            <li>
                <p>Intuitive Anatomie</p>
            </li>
            <li>
                <p>Tierseminar</p>
            </li>
            <li>
                <p>Pflanzenseminar</p>
            </li>
            <li>
                <p>Weltenbeziehungen</p>
            </li>
            <li>
                <p>Rythm</p>
            </li>
            <li>
                <p>Regenbogenkinder</p>
            </li>
        </ul>
    </div>
</section>

--->
