---
layout: landingpage
title: Awaken
font-awesome: true
seo:
    title: Erwecke die Heilerin in dir
    description: >-
        Heilerausbildung, Alltag, Energienverändern, Geistführer, Seelenweg,
        Herzensweg
    social_image:
    twitter_card:
    keywords:
    hide-from-google: false
kurse:
    -
        titel: 'Awaken '
        untertitel: Erwecke die Heilerin in dir
        description_html: >-
            <p>✨ Du bist mehr, als du dir je vorstellen kannst. ✨</p><p><br
            />Unter all den Schichten liegt eine tiefe, göttliche Essenz –
            leicht, verspielt, voller Magie und Sehnsüchte, die nur darauf
            warten, entfaltet zu werden.</p><p></p><p>Spürst du den Ruf? Das
            leise, aber kraftvolle Wissen, dass das Leben, wie du es kennst, nur
            der Anfang ist? Dass in dir Gaben schlummern, die darauf warten,
            endlich ans Licht zu kommen – auf eine Weise, die sich leicht und
            natürlich anfühlt, die du leicht in deinen Alltag einweben kannst,
            ohne dich verstecken zu müssen?</p><p></p><p>Was, wenn du deine
            energetischen Kräfte bewusst lenken könntest?<br /></p><p>Was, wenn
            du die Wahl hättest, wie du dich fühlen möchtest, ohne dich von
            äusseren Umständen überwältigen zu lassen?</p><p></p><p>Wenn du
            fühlst, dass dein Seelenweg dich ruft – wenn du bereit bist, die
            Magie in dir zu entfalten und sie in deinem Leben zum Strahlen zu
            bringen, dann ist „AWAKEN – Heilerin der neuen Zeit“ deine
            Einladung.</p><p></p><p><strong>Was erwartet dich auf dieser
            Reise?</strong></p><p></p><p>✨ <strong>Magische Transformation im
            Alltag</strong> – Du wirst deine inneren Kräfte erwecken und lernen,
            sie in jedem Moment zu nutzen.<br />✨ <strong>Verbindung zur
            geistigen Welt &amp; deinem Geistführer</strong> – Öffne dich für
            die Weisheit der höheren Dimensionen und erlebe, wie du geführt
            wirst.<br />✨ <strong>Energetische Felder wahrnehmen &amp;
            lenken</strong> – Nimm die feinen Schwingungen um dich wahr und
            lerne, sie gezielt zu transformieren.<br />✨ <strong>Heilung &amp;
            Selbstheilung</strong> – Du wirst in der Lage sein, heilende Energie
            in deinem Leben und in der Welt zu verankern.<br />✨ <strong>Deine
            Seelenmission erkennen &amp; leben</strong> – Erkenne deine wahre
            Bestimmung und setze sie mutig um.</p><p></p><p><strong>Das ist
            deine Chance, die Heilerin der neuen Zeit in dir zu
            erwecken.</strong></p><p>✨ <strong>12 Zoom Calls inkl.
            Aufnahme</strong><br />✨ <strong>2 x 1:1 Sessions</strong> für deine
            individuelle Vertiefung<br />✨ <strong>Exklusiver
            Mitgliederbereich</strong> mit wertvollen Materialien<br />✨
            <strong>Begleitende Telegram-Gruppe</strong> für Austausch und
            magischen Support</p><p></p><p><strong>Early Bird Preis bis
            31.03.2025: EURO 2222 / CHF 2100</strong><br /><strong>Danach: EURO
            2800 / CHF 2630</strong></p><p></p><p>Bist du bereit, deine magische
            Reise zu beginnen und die Heilerin in dir zu erwecken?<br
            /></p><p>👉 Dann sichere dir jetzt deinen Platz und tauche ein in
            eine Welt voller Transformation und Magie!</p><p><strong>Dann
            sichere dir jetzt deinen Platz und starte deine Reise in ein anderes
            Leben.</strong></p>
        anmelden-text-1: Kennenlerngespräch buchen
        anmelden-1: https://calendly.com/karinguetiger/verbindungscall
        image: /uploads/pajuramacopyright496-1.jpg
        sections-toggle: false
        sections:
            -
                description_html: >-
                    <p><strong>Dauer:</strong> 8 Wochen<br
                    /><strong>Inhalt:</strong> Wöchentliche Zoomcalls,
                    exklusiver Mitgliederbereich, 2 x 1:1 Session,
                    unterstützende Facebook-Gruppe<br /><strong>Preis:</strong>
                    EURO 1899 / CHF 1800</p>
                image: /images/pajuramacopyright496-1.jpg
                border: true
                window: false
            -
                description_html: ''
                image: ''
                border: true
                window: false
            -
                description_html: ''
                image: ''
                border: true
                window: false
        investition: 'Preis: EURO 2222 - CHF 2´100.- '
        start-1: Ratenzahlung möglich, bitte kontaktiere mich
        start-2: 'Start: 1. Mai 2025, 19.30 Uhr via Zoom'
        start-3:
        abschluss:
            -
                description_html: ''
        anmelden-text: Direkt buchen
        anmelden: https://buy.stripe.com/eVa4hXf9c89Xcbm8x3
---
{% for kurs in page.kurse %}
<section class="kurs-border capped-width">
    <section class=" padded">
        <div class="center padded padded-b-0">
            <h1 class="h1-bigger"> {{ kurs.titel }} </h1>
            <br />
            <h2> {{ kurs.untertitel }} </h2>
            {% if kurs.sections-toggle %}
            <p> {{ kurs.description_html }} </p>
            {% endif %}
        </div>
        <!-- {% if kurs.sections-toggle == false %}
        <div class="padded center">
            <img src="{{ kurs.image }}" class="border-padded" />
        </div>
        {% endif %} -->
        {% if kurs.sections-toggle %}
            {% for section in kurs.sections %}
            <div class="grid-spaceAround-middle flex-flip padded-t-2">
                <div class="col-6_md-12 padded">
                    <img src="{{section.image}}" class="{% if section.border %}border-padded{% endif %}{% if section.window%}window{% endif %}" />
                </div>
                <div class="col-6_md-12 padded">
                    {{section.description_html}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="padded">
                <div>
                    <p>  {{kurs.description_html}} </p>
                </div>
                {% if kurs.anmelden-text-1 %}
                <div class="center padded-t-2">
                    <a href="{{ kurs.anmelden-1 }}" class="button"> {{ kurs.anmelden-text-1 }} </a>
                </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="investition center">
            <p class="investition-title"> {{ kurs.investition}} </p>
            <br />
            {% if kurs.start-1 %}
            <p> {{ kurs.start-1 }} </p>
            {% endif%}
            {% if kurs.start-2 %}
            <p> {{ kurs.start-2 }} </p>
            {% endif%}
            {% if kurs.start-3 %}
            <p> {{ kurs.start-3 }} </p>
            {% endif%}
        </div>
        <div class="margin-t-2 center">
            {% for abschluss in kurs.abschluss %}
           <p> {{ abschluss.description_html }}</p>
        {% endfor %}
        <br /><br />
        <a href="{{ kurs.anmelden }}" class="button"> {{ kurs.anmelden-text }} </a>
        </div>
    </section>
</section>
{% endfor %}



<!-- <section class="center capped-width padded">
    <div class="editable">
        <h2> ThetaHealing® Seminare </h2>
    </div>
</section> -->


<!----
{% for theta in page.theta %}
<section class="kurs-border capped-width">
    <section class="padded">
        <div class="center padded padded-b-0">
            <h1> {{ theta.titel }} </h1>
            <br />
            <h2> {{ theta.untertitel }} </h2>
            <br />
            {% if theta.sections-toggle %}
            <p> {{ theta.description_html }} </p>
            {% endif %}
        </div>
        {% if theta.sections-toggle %}
            {% for section in theta.sections %}
            <div class="grid-spaceAround-middle flex-flip padded-t-2">
                <div class="col-6_md-12 padded">
                    <img src="{{section.image}}" class="{% if section.border %}border-padded{% endif %}{% if section.window%}window{% endif %}" />
                </div>
                <div class="col-6_md-12 padded">
                    {{section.description_html}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="padded">
                <div>
                    <p>  {{theta.description_html}} </p>
                </div>
            </div>
            <div class="padded">
                <img src="{{ theta.image }}" class="border-padded" />
            </div>
        {% endif %}
        <div class="investition center">
            <p class="investition-title"> {{ theta.investition}} </p>
            <br />
            <p> {{ theta.start }} </p>
        </div>
        <div class="margin-t-2 center">
            {% for abschluss in theta.abschluss %}
           <p> {{ abschluss.description_html }}</p>
        {% endfor %}
        <br /><br />
        <a href="{{ theta.anmelden }}" class="button"> {{ theta.anmelden-text }} </a>
        </div>
    </section>
</section>
{% endfor %}


<section class="capped-width padded left">
    <div class="editable">
        <h2> Folgende ThetaHealing® Seminare können auf Anfrage gebucht werden. </h2><br />
        <ul>
            <li>
                <p>Manifestieren &amp; Überfluss</p>
            </li>
            <li>
                <p>Du &amp; die Erde</p>
            </li>
            <li>
                <p>Du &amp; deine bessere Hälfte</p>
            </li>
            <li>
                <p>Du &amp; dein innerer Kreis</p>
            </li>
            <li>
                <p>Seelenpartner</p>
            </li>
            <li>
                <p>Intuitive Anatomie</p>
            </li>
            <li>
                <p>Tierseminar</p>
            </li>
            <li>
                <p>Pflanzenseminar</p>
            </li>
            <li>
                <p>Weltenbeziehungen</p>
            </li>
            <li>
                <p>Rythm</p>
            </li>
            <li>
                <p>Regenbogenkinder</p>
            </li>
        </ul>
    </div>
</section>

--->
