---
layout: default
title: Behandlungen Karin Gütiger, Awaken Soul
font-awesome: true
seo:
  title: Behandlungen Karin Gütiger, Awaken Soul
  description: >-
    Theta Healing, Access Bars, Raindrop Massage, Australische Buschblüten,
    Crystal Layout, Emotional Release, Goddess Revolution. 
  social_image:
  twitter_card:
  keywords: Theta Healing, Familienmediation, Cham, Zug, Scheidung, Karin Gütiger
  hide-from-google: false
behandlungen:
  - title: Energetische Behandlungen
    link: /energetische-behandlungen.html
    icon: <i class="fa-solid fa-fire-flame-simple"></i>
  - title: ThetaHealing®
    link: /thetahealing.html
    icon: <i class="fa-solid fa-heart"></i>
  - title: Aromatherapie & Australische Buschblüten
    link: /aromatherapie.html
    icon: <i class="fa-solid fa-bottle-droplet"></i>
section:
  - image: /images/behandlungen/bild-1.png
    description_html: >-
      Die verschiedenen Arten der Behandlungen setzte ich intuitiv ein und sie
      können individuell miteinander kombiniert werden,&nbsp; um eine
      massgeschneiderte und tiefgreifende Erfahrung im Coaching zu schaffen.
      Diese flexible Vorgehensweise erlaubt es, die Behandlungen auf deine
      persönlichen Ziele und Bedürfnisse abzustimmen, wodurch jede
      Coaching-Sitzung zu einer einzigartigen und erfüllenden Reise zu deinem
      höheren Bewusstsein wird.<br /><br />Das Coaching im Bereich persönlicher
      Entwicklung eröffnet eine vielseitige Welt der Möglichkeiten. Diese
      transformative Methode zeigt ihre Wirksamkeit in verschiedenen
      Lebensbereichen. Egal, ob es um Beziehungsfragen, körperliche
      Herausforderungen, stressbedingte Belastungen oder sogar Themen rund um
      das Gewicht geht, das individuell auf dich abgestimmte Coaching bietet
      Unterstützung. Darüber hinaus dient es als kraftvolles Werkzeug im Prozess
      der Selbständigkeitsentwicklung, um Erfolgsblockaden zu durchbrechen.
  - image: /images/behandlungen/bild-2.jpg
    description_html: >-
      Begleitend arbeite ich mit Ätherischen Ölen und Australischen Buschblüten.
      In der Aromatherapie werden die ätherischen Öle verwendet, um das
      körperliche, emotionale und geistige Wohlbefinden zu fördern. Die
      Australischen Buschblüten, die in Australien heimisch sind, werden in der
      Naturheilkunde für ihre energetischen Eigenschaften geschätzt. Es wird
      angenommen, dass sie nicht nur auf körperlicher Ebene heilend wirken,
      sondern auch das emotionale Gleichgewicht unterstützen können. Wenn du
      konkrete Fragen dazu hast oder tiefer in das Thema einsteigen möchtest,
      stehe ich gerne zur Verfügung.
---
<section class="bg-image bg-behandlungen bg-overlay">
    <section class="capped-width padded center white-text">
        <h1 class="editable"> Behandlungen </h1>
        <h1 class="subtitle editable">Theta Healing® &amp; Anwendungen         </h1>
    </section>
</section>

{% for section in page.section %}
<section class="capped-width padded grid-spaceAround-middle section-flex-flip">
    <div class="col-6_xs-10">
        <p class="editable">{{ section.description_html }} </p>
    </div>
    <div class="col-4_xs-7 xs-margin-t-2">
        <img data-src="{{section.image}}" class="window lazy" />
    </div>
</section>
{% endfor %}

<section>
    <div class="grid-spaceAround padded padded-t-0 text-white center capped-width">
        {% for behandlungen in page.behandlungen %}
        <div class="col-4_sm-6_xs-12 padded-19">
            <a href="{{behandlungen.link}}" class="no-deco">
                <p class="index-icon"> {{behandlungen.icon}} </p>
                <h2 class="tworem"> {{behandlungen.title}} </h2>
            </a>
        </div>
        {% endfor %}
    </div>
</section>