---
layout: default
title: Dein Heiliger Raum | 1:1 Mentoring
font-awesome: true
swiper: true
seo:
    title: Dein Heiliger Raum | Mentoring
    description: Frequenzveränderung Heilung, Blockaden lösen, Theta Healing
    social_image:
    twitter_card:
    keywords: 1:1 Coaching, Karin Gütiger, Cham, Zug
    hide-from-google: false
mentorings:
    -
        titel: 'INNER GLOW '
        untertitel: 4 Wochen Programm
        description_html: >-
            <p>4 Wochen, die dir die Klarheit schenken, die du dir
            wünscht.</p><ul><li><p>Jede Woche 30 Minuten Session per Zoom oder
            Fernheilung</p></li><li><p>28 Tage wertvolle Inputs und Tools für
            deinen Alltag.</p></li></ul><p>Preis: EUR 499 / CHF 470</p>
        image: /images/pajuramacopyright496-1.jpg
        sections-toggle: false
        sections:
            -
                description_html: ''
                image: ''
                border: true
                window: false
        abschluss:
            -
                description_html: <p>Möchtest du mehr wissen?</p>
        anmelden-text: Dann buche dir hier gerne deinen kostenlosen Verbindungs-Call
        anmelden: https://calendly.com/karinguetiger/verbindungscall
    -
        titel: VIP Programm - Dein Heiliger Raum
        untertitel: Lebe deinen Herzensweg
        description_html: >-
            <p><strong>12-Wochen VIP Programm</strong></p><p>Bist du bereit
            deinen Herzensweg zu gehen? Dafür wofür du gekommen bist? Dann lass
            uns gemeinsam die nötigen Schritte gehen. .</p><p><strong>Was dich
            erwartet:</strong></p><ul><li><p>12 x wöchentliche
            Heilsessions</p></li><li><p>24/7 WhatsApp Support
            </p></li><li><p>wöchentliche
            Frequenz-Boost</p></li><li><p>Mitgliederbereich mit zusätzlichen
            Tools</p><p></p></li></ul><p><strong>Der
            Ablauf:</strong></p><ul><li><p><strong>Erste Schritte:</strong> Um
            deinen Herzensweg gehen zu können, musst du zuerst einmal wissen, wo
            du überhaupt stehst. Was du gerne ändern möchtest und wohin dein
            Herzensweg führt.</p></li></ul><ul><li><p><strong>Verbindung zu dir
            &amp; Gedankenhygiene:</strong> Dass du deinen Weg gehen kannst, ist
            es wichtig, dass du dich wieder spürst und mit dir in Verbindung
            trittst. Hierzu gehört auch Gedankenhygiene, weil du weisst ja: wir
            sind, was wir denken.
            </p></li><li><p><strong>Energieveränderung:</strong> Wenn du etwas
            in deinem Leben verändern möchtest, MUSST du deine Energie sprich
            Frequenz verändern. Denn ohne Veränderung, bleibt alles beim Alten.
            Hierzu erhältst du wertvolle Tools. Gleichzeitig lösen wir in den
            Sessions, was dich behindert, dich wirklich ganz zu leben, wie du es
            dir wünscht. </p></li></ul><p><strong>Preis:</strong> EUR 4400 / CHF
            4200 </p><p><strong>Was du von diesem Programm hast? </strong>ja:
            wir sind, was wir denken.</p><ul><li><p><strong>Du kennst deinen
            Herzensweg</strong></p></li><li><p>Du fühlst dich mit dir und deinem
            Körper verbunden. </p></li><li><p>Du spürst deine Grenzen und deinen
            heiligen Raum.</p></li><li><p>Du weisst, wie du dein Leben selbst
            verändern und Blockaden auflösen
            kannst.</p></li></ul><p></p><p><strong>Buche dein kostenloses
            Erstgespräch – dein Weg zur Veränderung beginnt hier.</strong></p>
        image:
        sections-toggle: false
        sections:
            -
                description_html: |-
                    <p>Inhalt des Mentorings:</p> <ul>
                        <li>Wöchentliche 1:1 Sessions: Vor Ort oder per Zoom, abgestimmt auf deine individuellen Bedürfnisse.</li>
                        <li>Energy-Booster: Jeden Montagmorgen für energetische Unterstützung.</li>
                        <li>WhatsApp-Begleitung: Für fortlaufende Unterstützung und Rückfragen.</li>
                        <li>Journaling: Reflektiere deine Themen weiter durch Schreiben.</li>
                        <li>Meditationen und Körperprozesse: Transformative Meditationen und energetische Arbeit.</li>
                        <li>Schöpferkraft-Aktivierungen: Aktiviere deine Manifestationskraft.</li>
                    </ul>
                image: /images/path-to-image.jpg
                border: true
                window: false
        abschluss:
            -
                description_html:
        anmelden-text: Ja, ich will jetzt in die Verbindung zu mir kommen!
        anmelden: https://calendly.com/karinguetiger/verbindungscall
testimonials:
    -
        name: Simone
        description_html: >-
            <p>Liebe Karin, seit ich dich im letzten Jahr auf Mallorca
            kennengelernt habe, hat sich einiges in meinem Leben verändert. Du
            hast mir in deinem 6-Wochen-Coaching, Meditationen, Körperprozesse
            und andere Hilfsmittel auf liebevolle Weise an die Hand gegeben und
            mich meinem Herzensweg ein großes Stück näher gebracht. Ich habe bei
            dir die Theta Healing Technik von Basis DNA bis zum Du &amp; der
            Schöpfer gelernt. Du bist ein Engel, egal welches Problem ich hatte,
            du warst immer und zu jeder Zeit für mich da! Ich bin dir unendlich
            dankbar für deine Mega tolle Arbeit und stetige Unterstützung. Die
            Art und Weise wie du arbeitest, hat mich vom ersten Augenblick
            fasziniert, sodass ich immer wieder gerne ein Theta Healing Seminar
            oder anderes Coaching bei dir buche. Ich bin gespannt, welche tollen
            Tools und weiteren Seminare ich in der Zukunft noch von dir lernen
            darf. Ein herzliches Dankeschön!</p>
    -
        name: Isabelle E.
        description_html: >-
            <p>Seit meinem Termin bei dir fühle ich eine tiefe Ruhe und konnte
            viel loslassen. Ich habe erkannt, dass nur ich meine Stimmung
            verändern kann und dass ich für mich selbst verantwortlich bin. Ich
            bin so dankbar, dass ich zu dir gekommen bin – du hast mir wirklich
            geholfen. Nach negativen Erfahrungen mit einem Medium hatte ich
            Angststörungen, und solche Sitzungen waren für mich sehr belastend.
            Bei dir jedoch habe ich mich sicher und wohl gefühlt. Deine Arbeit
            hat mir geholfen, diese alten Ängste zu heilen. Vielen Dank!</p>
    -
        name: Aleksandra
        description_html: >-
            Meine Coaching's mit Karin waren einfach transformativ! Sie ist
            super einfühlsam und total vertrauenswürdig. Karin hat mich die
            ganze Zeit über ermutigt, meine wahre Essenz zu entdecken und zu
            leben. Für sie gibt es keine Grenzen - jede Idee sieht sie als
            möglich an und unterstützt mich dabei voll und ganz. Mit ihrer
            sanften Art und ihrem tiefen Verständnis habe ich es geschafft, alte
            Blockaden zu lösen und mein authentisches Selbst zu entfalten.
            Karins Hingabe, Mitgefühl und Vertrauen machen sie zu einer
            großartigen Coach, die ich nur wärmstens empfehlen kann.
    -
        name: Sabina
        description_html: >-
            Ich schätze dich sehr als Person und Mensch und komme deshalb sehr
            gerne zu dir. Du bist für mich eine sehr authentische Person, die
            auch persönliche Fragen beantwortet und ehrlich sagt, wie etwas ist
            und es nicht schön redet. Auch schätze ich deine offene und sehr
            natürliche Art. Ich finde die Energie in deiner Praxis sehr schön,
            mir gefällt der Ort und es fühlt sich für mich sehr stimmig an.
            Darum war ich auch schon mehr als einmal bei dir. Ich fühle mich
            sehr wohl und geborgen und gut abgeholt von dir. Du antwortest auch
            sehr zeitnah auf Fragen und ich bekomme nie das Gefühl, ich sei zu
            viel. Alles hat Platz und ich schätze das sehr. Ich danke vielmals,
            haben sich unsere Wege gekreuzt.
    -
        name: Caroline
        description_html: >-
            <p>Liebe Karin, ich danke dir von ganzem Herzen für deine wertvolle
            Begleitung der verschiedenen Sitzungen. Mit deiner Unterstützung
            durfte ich Einblick in mein Unterbewusstsein erhalten. Einerseits
            tiefe Schätze in mir kennenlernen, andererseits auch Wunden erkennen
            und in Heilung bringen. Ich habe mich jederzeit von dir getragen
            gefühlt. Durch deine vertrauensvolle wie auch professionelle
            Herangehensweise konnte ich mich voll und ganz auf dein Coaching
            einlassen, mich fallen lassen und in meine Stärke finden.</p>
    -
        name: D.F.
        description_html: >-
            <p>Bei dir kann ich mich selbst ✨ und auch mein Herz ❤‍🔥 ausdehnen.
            Es war sehr erhebend, weit, überflutend bzw. übersprudelnd und
            einfach nur schön 💫✨❤‍🔥✨💫!!! Ich danke dir 🙏🏻für diese seeeehr
            tolle und warme und grenzüberschreitende Erfahrung 🩵💥✨🔥🩵❣️</p>
    -
        name: A.F.
        description_html: >-
            <p>Ich habe bei Karin das Coaching besucht und es war genau die
            richtige Entscheidung. Danke liebe Karin, dass du mich so
            unterstützt hast. Es ist unglaublich was sich in so kurzer Zeit
            alles getan hat. Ohne das Coaching wäre ich noch lange nicht da wo
            ich nun bin. Herzlichen Dank!!!</p>
    -
        name: Doris
        description_html: >-
            <p>Ich war schon einige Male bei Karin und schätze ihre wunderbare
            ruhige Art, ihre Präsenz und die heilende Energiearbeit.</p><p>Es
            ist immer ein wunderbares leichtes und befreiendes Gefühl nach ihrer
            Behandlung oder Beratung.</p>
---
<section class="capped-width padded padded-b-0 padded-t-1 grid-spaceAround-middle">
  <div class="border-padded relative">
    <img src="/images/neu/heiliger-raum/dein-heiliger-raum-banner.jpg" class="border hide-xs" />
    <img src="/images/neu/heiliger-raum/dein-heiliger-raum-xs.jpg" class="border show-xs" />
  </div>
</section>

<section class="padded padded-t-0 capped-width-v-narrow center">
    <div class="editable">
        <h1> Dein Heiliger Raum </h1><br />
        <p> <strong>Willkommen in deinem Raum der Veränderung</strong></p>
        <p>Stell dir vor, es gibt einen Ort, an dem du einfach du selbst sein kannst – ohne Ablenkungen, ohne Erwartungen. Ein Raum, in dem du dich wieder spüren kannst, deine innere Klarheit findest und dich mit dem verbindest, was wirklich wichtig ist.</p>
        <p>Hier geht es darum, deine Energie in Einklang mit dem zu bringen, was du dir von Herzen wünschst. Du wirst lernen, alte Muster loszulassen und dich neu auszurichten, um das Leben zu erschaffen, das du dir wirklich wünschst.</p>
        <p>Bist du bereit, diesen Raum zu betreten und die Veränderung zu erfahren, die du schon lange ersehnt hast?</p>
        <p>Ich freue mich darauf, dich in diesem heiligen Raum willkommen zu heissen.</p>
        <p><a href="https://calendly.com/karinguetiger/soul-talk" class="button"> Kostenloses Erstgespräch</a></p>
    </div>
</section>

<section class="relative">
    <div class="capped-width padded-2 center">
      <h2> TESTIMONIALS </h2>
    </div>
    <!-- Slider main container -->
    <div class="swiper-testimonial">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {% for testimonial in page.testimonials %}
        <div class="swiper-slide">
          <div class="padded padded-t-0 capped-width grid-middle-spaceAround center">
              <div class="col-11 padded">
                  <p> {{testimonial.description_html}} </p>
              </div>
              <div class="col-12 padded padded-t-0">
                <h3 class="testimonial-name"> - {{ testimonial.name }} </h3>
              </div>
            </div>
        </div>
        {% endfor %}
      </div>
      <!-- If we need pagination -->
      <!-- <div class="swiper-pagination"></div> -->
    
      <!-- If we need navigation buttons-->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>  
    
      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>
    </section>

<section class="center capped-width padded">
    <div class="editable">
        <h2> </h2>
    </div>
</section>

{% for mentoring in page.mentorings %}
<section class="kurs-border capped-width">
    <section class=" padded">
        <div class="center padded padded-b-0">
            <h1> {{ mentoring.titel }} </h1>
            <br />
            <h2> {{ mentoring.untertitel }} </h2>
            {% if mentoring.sections-toggle %}
            <p> {{ mentoring.description_html }} </p>
            {% endif %}
        </div>
        {% if mentoring.sections-toggle %}
            {% for section in mentoring.sections %}
            <div class="grid-spaceAround-middle flex-flip padded-t-2">
                <div class="col-6 padded">
                    <img src="{{section.image}}" class="{% if section.border %}border-padded{% endif %}{% if section.window%}window{% endif %}" />
                </div>
                <div class="col-6 padded">
                    {{section.description_html}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="padded">
                <div>
                    <p>  {{mentoring.description_html}} </p>
                </div>
            </div>
            <div class="margin-t-2 center">
                {% for abschluss in mentoring.abschluss %}
                {% if abschluss.description_html %}
               <p> {{ abschluss.description_html }}</p>
               <br /><br />
               {% endif %}
            {% endfor %}
            <a href="{{ mentoring.anmelden }}" class="button"> {{ mentoring.anmelden-text }} </a>
            </div>
            {% if mentoring.image %}
            <div class="padded">
                <img src="{{ mentoring.image }}" class="border-padded" />
            </div>
            {% endif %}
        {% endif %}
    </section>
</section>
{% endfor %}

<section class="bg-image bg-overlay bg-footer-bottom tall-70 xs-tall-40 flex-center text-white">
    <div class="padded">
      <div class="relative center">
          <img src="/images/neu/index/baum-footer.svg" />
      </div>
      <div class="center margin-t-2">
        <a href="/termin-buchen.html" class="button-footer"> Ich freue mich von dir zu hören. :) </a>
      </div>
    </div>
</section>
