---
layout: landingpage
title: Landing Page Template
font-awesome: true
seo:
    title:
    description:
    social_image:
    twitter_card:
    keywords:
    hide-from-google: false
kurse:
    -
        titel: GLORIA
        untertitel: Heilerin in JEANS
        description_html: ''
        anmelden-text-1: Buchen
        anmelden-1: https://buy.stripe.com/dR65m18KOgGt7V628X
        image: /uploads/gloria-3.png
        sections-toggle: true
        sections:
            -
                description_html: >-
                    <p>Raus aus dem Autopilot – rein ins bewusste
                    Wählen.</p><p>GLORIA – Heilerin in Jeans.</p><p>Für
                    dich:</p><p>✨ du gibst im Alltag alles, aber merkst, dass es
                    so nicht weitergeht</p><p>✨ du willst dich wieder spüren –
                    nicht nur „funktionieren“</p><p>✨ du suchst keinen
                    abgehobenen Kurs, sondern etwas, das dich wirklich erreicht
                    und berührt</p><p>✨ du willst dich entscheiden – für dich,
                    für ein anderes Lebensgefühl</p><p>✨ du möchtest die Liebe
                    wieder in dir spüren, anstatt sie im Aussen zu
                    suchen</p><p>✨ du willst bei dir bleiben – auch wenn es tobt
                    und stürmt</p><p>💫 Bereit, wieder für dich zu
                    wählen</p><p>Dann ist GLORIA – Heilerin in Jeans - kein
                    Kurs, sondern ein Raum.</p><p>Ein Raum, in dem du ankommen
                    darfst. In dir. Einfach du. So wie du bist.</p><p>Start: 28.
                    Mai 2025</p><p>€29 / CHF 27</p><p>Online · 10 Tage</p><p>3
                    Live Zoom Calls + 1 Bonus Call</p><p>geschlossene
                    Facebook-Gruppe &amp; Telegramm Gruppe</p><p>Calls:</p><p>🌀
                    28. Mai – Erkennen &amp; Erinnern (20:00 Uhr)</p><p>🌀 1.
                    Juni – Fühlen &amp; Verbindung (20:00 Uhr)</p><p>🌀 4. Juni
                    – Sinne &amp; Sinnlichkeit (20:00 Uhr)</p><p>🎁 6. Juni –
                    Bonus Call: Q &amp; A (19:00 Uhr)</p>
                image: /images/pajuramacopyright4-(1).jpg
                border: true
                window: false
        investition: 'Preis: CHF 1´499.- '
        start-1: >-
            Bei Interesse an einer Ratenzahlung, kontaktiere mich gerne unter
            info@karinguetiger.ch
        start-2: 'Start: 30. Januar 2025, 19.00 Uhr via Zoom'
        start-3:
        abschluss:
            -
                description_html: ''
        anmelden-text: Direkt buchen
        anmelden: https://buy.stripe.com/eVag0FaSWeyl6R2fZl
---
{% for kurs in page.kurse %}
<section class="kurs-border capped-width">
    <section class=" padded">
        <div class="center padded padded-b-0">
            <h1 class="h1-bigger"> {{ kurs.titel }} </h1>
            <br />
            <h2> {{ kurs.untertitel }} </h2>
            {% if kurs.sections-toggle %}
            <p> {{ kurs.description_html }} </p>
            {% endif %}
        </div>
        <!-- {% if kurs.sections-toggle == false %}
        <div class="padded center">
            <img src="{{ kurs.image }}" class="border-padded" />
        </div>
        {% endif %} -->
        {% if kurs.sections-toggle %}
            {% for section in kurs.sections %}
            <div class="grid-spaceAround-middle flex-flip padded-t-2">
                <div class="col-6_md-12 padded">
                    <img src="{{section.image}}" class="{% if section.border %}border-padded{% endif %}{% if section.window%}window{% endif %}" />
                </div>
                <div class="col-6_md-12 padded">
                    {{section.description_html}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="padded">
                <div>
                    <p>  {{kurs.description_html}} </p>
                </div>
                {% if kurs.anmelden-text-1 %}
                <div class="center padded-t-2">
                    <a href="{{ kurs.anmelden-1 }}" class="button"> {{ kurs.anmelden-text-1 }} </a>
                </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="investition center">
            <p class="investition-title"> {{ kurs.investition}} </p>
            <br />
            {% if kurs.start-1 %}
            <p> {{ kurs.start-1 }} </p>
            {% endif%}
            {% if kurs.start-2 %}
            <p> {{ kurs.start-2 }} </p>
            {% endif%}
            {% if kurs.start-3 %}
            <p> {{ kurs.start-3 }} </p>
            {% endif%}
        </div>
        <div class="margin-t-2 center">
            {% for abschluss in kurs.abschluss %}
           <p> {{ abschluss.description_html }}</p>
        {% endfor %}
        <br /><br />
        <a href="{{ kurs.anmelden }}" class="button"> {{ kurs.anmelden-text }} </a>
        </div>
    </section>
</section>
{% endfor %}



<!-- <section class="center capped-width padded">
    <div class="editable">
        <h2> ThetaHealing® Seminare </h2>
    </div>
</section> -->


<!----
{% for theta in page.theta %}
<section class="kurs-border capped-width">
    <section class="padded">
        <div class="center padded padded-b-0">
            <h1> {{ theta.titel }} </h1>
            <br />
            <h2> {{ theta.untertitel }} </h2>
            <br />
            {% if theta.sections-toggle %}
            <p> {{ theta.description_html }} </p>
            {% endif %}
        </div>
        {% if theta.sections-toggle %}
            {% for section in theta.sections %}
            <div class="grid-spaceAround-middle flex-flip padded-t-2">
                <div class="col-6_md-12 padded">
                    <img src="{{section.image}}" class="{% if section.border %}border-padded{% endif %}{% if section.window%}window{% endif %}" />
                </div>
                <div class="col-6_md-12 padded">
                    {{section.description_html}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="padded">
                <div>
                    <p>  {{theta.description_html}} </p>
                </div>
            </div>
            <div class="padded">
                <img src="{{ theta.image }}" class="border-padded" />
            </div>
        {% endif %}
        <div class="investition center">
            <p class="investition-title"> {{ theta.investition}} </p>
            <br />
            <p> {{ theta.start }} </p>
        </div>
        <div class="margin-t-2 center">
            {% for abschluss in theta.abschluss %}
           <p> {{ abschluss.description_html }}</p>
        {% endfor %}
        <br /><br />
        <a href="{{ theta.anmelden }}" class="button"> {{ theta.anmelden-text }} </a>
        </div>
    </section>
</section>
{% endfor %}


<section class="capped-width padded left">
    <div class="editable">
        <h2> Folgende ThetaHealing® Seminare können auf Anfrage gebucht werden. </h2><br />
        <ul>
            <li>
                <p>Manifestieren &amp; Überfluss</p>
            </li>
            <li>
                <p>Du &amp; die Erde</p>
            </li>
            <li>
                <p>Du &amp; deine bessere Hälfte</p>
            </li>
            <li>
                <p>Du &amp; dein innerer Kreis</p>
            </li>
            <li>
                <p>Seelenpartner</p>
            </li>
            <li>
                <p>Intuitive Anatomie</p>
            </li>
            <li>
                <p>Tierseminar</p>
            </li>
            <li>
                <p>Pflanzenseminar</p>
            </li>
            <li>
                <p>Weltenbeziehungen</p>
            </li>
            <li>
                <p>Rythm</p>
            </li>
            <li>
                <p>Regenbogenkinder</p>
            </li>
        </ul>
    </div>
</section>

--->
