---
layout: default
title: Theta Healing
font-awesome: true
seo:
    title: Theta Healing
    description: Theta Healing, Theta Healing Sitzung, Theta Healing Seminare
    social_image:
    twitter_card:
    keywords: Theta Healing, Theta Healing Sitzung, Theta Healing Seminare
    hide-from-google: false
aktuelle-angebote:
    -
        titel: 'Grundseminare Theta Healing® '
        untertitel:
        description_html: >-
            <p><strong>ThetaHealing® ist eine kraftvolle energetische Heil- und
            Transformationsmethode, die im Theta-Gehirnwellenzustand
            arbeitet.</strong></p><p>Sie öffnet den Zugang zu deinem
            Unterbewusstsein und zu einer höheren, schöpferischen Energiequelle
            – oft auch als göttliche oder universelle Energie
            bezeichnet.</p><p>Diese Energie ist die Kraft, aus der alles
            entsteht. Wenn du dich damit verbindest, erkennst du, wie du selbst
            aktiv an der Gestaltung deines Lebens teilhaben kannst.</p><p>Durch
            das Lösen alter Glaubenssätze und Blockaden befreist du dich von
            Begrenzungen, die dich bisher zurückgehalten haben.<br />So schaffst
            du Raum, um deine eigene Schöpferkraft zu aktivieren – deine
            Fähigkeit, bewusster, klarer und mit mehr Leichtigkeit
            Entscheidungen zu treffen und dein Leben zu
            formen.</p><p>ThetaHealing® unterstützt dich dabei, dich selbst tief
            zu verstehen, alte Muster aufzulösen und deine Verbindung zu dieser
            schöpferischen Kraft zu stärken.</p><h3><strong>Basis-DNA
            Seminar</strong></h3><p>In diesem Seminar lernst du die Grundlagen
            von ThetaHealing® kennen.<br />Du erfährst, wie du durch den Zugang
            zum Theta-Zustand dein Unterbewusstsein erreichst und dort
            blockierende Glaubenssätze erkennst.<br />Gemeinsam lösen wir erste
            Muster, die dich einschränken.<br />Du lernst, wie du deine
            Verbindung zur schöpferischen Energie spürbar machst und nutzt.<br
            />Das Seminar bietet dir praktische Werkzeuge für den Einstieg in
            die Arbeit mit deiner Energie.</p><p><a
            href="https://buy.stripe.com/8x2dR85Zp1NP5Fg9iG1Jm10">Buchen</a></p><h3><strong>Aufbau-DNA
            Seminar</strong></h3><p>Das Aufbau-Seminar vertieft dein Wissen und
            deine Fähigkeiten mit ThetaHealing®.<br />Du lernst, komplexere
            Glaubensmuster zu erkennen und gezielt aufzulösen.<br />Die
            Verbindung zur schöpferischen Energie wird bewusster und
            stabiler.<br />Du übst, deine Wahrnehmung und dein Gespür für
            energetische Prozesse zu stärken.<br />Das Seminar unterstützt dich
            dabei, deine persönliche Kraft weiter auszubauen.</p><h3><a
            href="https://buy.stripe.com/8x2dR85Zp1NP5Fg9iG1Jm10">Buchen</a></h3><h2><strong>Grabe
            tiefer Seminar</strong></h2><p>Dieses Seminar führt dich zu den
            tieferen Ebenen deiner inneren Muster und Blockaden.<br />Du lernst
            erweiterte Techniken, um auch verborgene, tief sitzende
            Glaubenssätze aufzudecken und zu verändern.<br />Die Verbindung zur
            schöpferischen Energie wird intensiver und klarer.<br />Das Seminar
            richtet sich an Menschen, die bereit sind, sich mit ihren innersten
            Hindernissen auseinanderzusetzen und nachhaltig zu
            verändern.</p><p><a
            href="https://buy.stripe.com/8x2dR85Zp1NP5Fg9iG1Jm10">Buche</a>n</p>
        anmelden-text-1:
        anmelden-1:
        image: /images/pajuramacopyright327-2.jpg
        sections-toggle: false
        sections:
            -
                description_html: >-
                    <p><strong>Was dich
                    erwartet:</strong></p><ul><li><p><strong>7 wöchentliche
                    Gruppensitzungen: </strong>ca. 2
                    Std.</p></li><li><p><strong>Workbook: </strong>mit
                    Theorieinhalten und
                    Reflexionsübungen</p></li><li><p><strong>7
                    Körperprozesse</strong>: Audio-Aufnahmen für jede Woche, die
                    dir helfen, die energetischen Veränderungen zu
                    verankern.</p></li><li><p><strong>Energetische
                    Wirbelsäulenaufrichtung</strong>: Für eine tiefere
                    Verbindung zu deinem Körper und deiner inneren
                    Balance.</p></li></ul>
                image: /images/familienmediation/bild-2.jpg
                border: true
                window: false
        investition:
        start-1:
        start-2:
        start-3:
        abschluss:
            -
                description_html:
        anmelden-text: Jetzt Infogespräch buchen
        anmelden: https://karinguetiger.ch/termin-buchen
kurse:
    -
        titel: 'Grundseminare '
        untertitel: Theta Healing®
        description_html: >-
            <h3><strong>Online Basis-DNA Seminar</strong></h3><p>ThetaHealing®
            ist eine kraftvolle, energetische Methode, die über den
            Theta-Gehirnwellenzustand Zugang zu deinem Unterbewusstsein
            schafft.<br />Sie hilft dir, tief verwurzelte Glaubenssätze,
            Blockaden und Muster sichtbar zu machen und sanft aufzulösen – um
            mehr Freiheit und Klarheit in dein Leben zu bringen.</p><p>Im
            <strong>Basis-DNA Seminar</strong> lernst du die Grundlagen dieser
            Methode kennen – ganz praktisch und erfahrbar.<br />Du erfährst, wie
            deine Gedanken und Gefühle deine Realität prägen und wie du bewusst
            in die Energie deiner Seele eintauchen kannst.</p><p>Gemeinsam
            öffnen wir den Raum, damit du deine eigene Energie klarer wahrnehmen
            kannst.<br />Du bekommst erste Werkzeuge an die Hand, um alte Muster
            zu erkennen und loszulassen – auf eine sanfte, liebevolle
            Weise.</p><p>Das Seminar ist kein trockener Theorie-Workshop.<br
            />Es ist eine lebendige Erfahrung mit Meditationen, geführten
            Übungen und dem Austausch in der Gruppe.</p><p>Dieses Seminar ist
            für dich, wenn du spürst, dass mehr in dir steckt –<br />mehr
            Klarheit, mehr Verbindung, mehr Sein.<br />Wenn du bereit bist, dich
            selbst auf einer tieferen Ebene zu begegnen.<br />Und wenn du
            spürst: Jetzt ist der Moment.</p><p>🤍<br />Trau dich diesen
            Schritt. Erlaube dir, dich selbst besser zu verstehen und in deine
            Kraft zu kommen.<br /><strong>Buche jetzt dein Online Basis-DNA
            Seminar und öffne die Tür zu dir.</strong></p><p></p>
        anmelden-text-1: Kennenlerngespräch buchen
        anmelden-1: https://calendly.com/karinguetiger/verbindungscall
        image: /images/awake-your-soul/4.jpg
        sections-toggle: false
        sections:
            -
                description_html: ''
                image: ''
                border: true
                window: false
        investition: 'Preis: CHF  3´500.-'
        start-1: >-
            Bei Interesse an einer Ratenzahlung, kontaktiere mich gerne unter
            info@karinguetiger.ch
        start-2: 'Start: 21. August 2025, 19.00 Uhr via Zoom'
        start-3:
        abschluss:
            -
                description_html: ''
        anmelden-text: Direkt buchen
        anmelden: https://karinguetiger.ch/kontakt
theta:
    -
        titel: Grundseminare Theta Healing®
        untertitel:
        description_html: >-
            <p>Entdecke eine kraftvolle Heiltechnik, die dir hilft, Blockaden zu
            lösen und tiefgreifende Transformationen in deinem Leben zu
            erreichen. In meinen Seminaren lernst du, wie du effektive Werkzeuge
            anwendest, um alte Muster zu durchbrechen und deine persönliche
            Entwicklung zu fördern. Jeder Kurs ist ein Schritt auf deinem Weg zu
            mehr Klarheit und innerer Stärke.</p>
        anmelden-text: Packet buchen
        anmelden: /kontakt.html
        image: /images/awake-your-soul/aurora-femina.jpg
        sections-toggle: true
        sections:
            -
                description_html: >-
                    <p><strong>Basis DNA Seminar</strong></p><p>Das
                    Basis-Seminar von Theta Healing® legt den Grundstein für
                    deine Reise in die Heilung und Selbstentfaltung. In diesem
                    Kurs lernst du die grundlegenden Techniken, um Blockaden und
                    Glaubenssätze zu erkennen und zu transformieren. Du wirst in
                    die Kraft des Theta-Zustands eingeführt, um tiefgreifende
                    Heilungen in Körper, Geist und Seele zu erfahren und ein
                    starkes Fundament für deine persönliche Weiterentwicklung zu
                    schaffen.</p><p>Preis: CHF
                    600.00                             </p><p><a
                    href="mailto:info@karinguetiger.ch?subject=Warteliste&amp;body=Ich%20m%C3%B6chte%20gerne%20auf%20die%20Warteliste"
                    title="Warteliste">Warteliste</a></p>
                image: /images/neu/awake-your-soul/awake-your-soul-top.jpg
                border: true
                window: false
            -
                description_html: >-
                    <p><strong>Aufbau-Seminar:</strong></p><p>Im Aufbau-Seminar
                    vertiefst du dein Wissen und deine Fähigkeiten im Theta
                    Healing. Hier lernst du, wie du fortgeschrittene
                    Heiltechniken anwendest und deine Intuition weiter stärkst.
                    Das Seminar ermöglicht es dir, tiefergehende Blockaden zu
                    bearbeiten, komplexe Themen zu verstehen und deine
                    persönliche Entwicklung auf eine neue Ebene zu bringen. Es
                    ist die nächste Stufe auf deinem Weg zu mehr Klarheit und
                    innerer Stärke.</p><p>Preis: CHF 600.00</p><p><a
                    href="mailto:info@karinguetiger.ch?subject=Warteliste&amp;body=Ich%20m%C3%B6chte%20gerne%20auf%20die%20Warteliste"
                    title="Warteliste">Warteliste</a></p>
                image: /images/neu/index/index-card-2.jpg
                border: false
                window: true
            -
                description_html: >-
                    <p><strong>Grabe Tiefer-Seminar:</strong></p><p>Das Grabe
                    Tiefer-Seminar bietet dir die Möglichkeit, verborgene und
                    tiefsitzende Blockaden zu entdecken und zu transformieren.
                    In diesem intensiven Kurs lernst du fortgeschrittene
                    Techniken, um die tiefsten Wurzeln deiner Themen zu
                    erforschen und aufzulösen. Du erfährst, wie du deine eigene
                    Heilung auf ein tieferes Level bringen und nachhaltige
                    Veränderungen in deinem Leben bewirken kannst.</p><p>Preis:
                    CHF 440.00</p><p><a
                    href="mailto:info@karinguetiger.ch?subject=Warteliste&amp;body=Ich%20m%C3%B6chte%20gerne%20auf%20die%20Warteliste"
                    title="Warteliste">Warteliste</a></p>
                image: /uploads/pajuramacopyright467-2.jpg
                border: true
                window: false
            -
                description_html: >-
                    <p><strong>Du &amp; die Schöpfung: </strong>ist ein Seminar,
                    das dir hilft, deine Verbindung zur schöpferischen Kraft in
                    dir zu entdecken und zu stärken. Du lernst, wie du deine
                    innere Kreativität nutzen kannst, um dein Leben bewusst zu
                    gestalten und Blockaden zu überwinden. Durch gezielte
                    Übungen und Techniken erfährst du, wie du deine
                    Schöpferkraft aktivierst, um positive Veränderungen in
                    deinem Leben zu bewirken und deine persönliche Entfaltung zu
                    fördern.</p><p>Preis: CHF 440.00</p><p><a
                    href="mailto:info@karinguetiger.ch?subject=Warteliste&amp;body=Ich%20m%C3%B6chte%20gerne%20auf%20die%20Warteliste"
                    title="Warteliste">Warteliste</a></p>
                image: /uploads/pajuramacopyright301-2.jpg
                border: true
                window: false
        investition: 'Alle 4 Seminare: CHF 1´900.00 anstatt CHF 2´080.00'
        start-1:
        start-2:
        start-3:
        abschluss:
            -
                description_html: <p>Ich freue mich auf dich.</p>
---
<section class="padded padded-t-0 center capped-width grid-spaceAround-middle">
    <div class="col-5_md-7_sm-8_xs-12 relative">
        <div class="border-padded">
            <img src="/images/neu/awake-your-soul/awake-your-soul-top.jpg" class="border" />
        </div>
        <img src="/images/logos/logo-baum.png" class="pa5" />
    </div>
</section>


<section class="padded padded-t-0 capped-width-v-narrow center">
    <div class="editable">
        <h1> Theta Healing® 1:1 Session</h1><br />
        <p>ThetaHealing® ist nicht nur eine Methode.<br />Es ist die Rückverbindung mit dir selbst.<br />Mit deinem innersten Wesen.<br />Mit dem göttlichen Funken, der du bist.</p>
        <p>In der 1:1 ONLINE Session betreten wir gemeinsam einen heiligen Raum.<br />Im Theta-Zustand – einem tiefen Bewusstseinsfeld –<br />öffnen wir den Zugang zu deinem Unterbewusstsein.</p>
        <p>Was dich bisher blockiert, darf sichtbar werden.<br />Alte Muster, Überzeugungen, gespeicherte Erfahrungen.<br />Und über die Führung des Göttlichen dürfen sie sich wandeln –<br />sanft, klar und in deinem Tempo.</p>
        <p>Die ThetaHealing® ONLINE-Session <br />dauert ca. 75 Minuten und kostet CHF 222<br /></p><a href="https://calendly.com/karinguetiger/verbindungscall" class="button"> Kostenloses Erstgespräch</a>
    </div>
</section>



{% for aktuell in page.aktuelle-angebote %}
<section class="kurs-border capped-width">
    <section class=" padded">
        <div class="center padded padded-b-0">
            <h1 class="h1-bigger"> {{ aktuell.titel }} </h1>
            <br />
            <h2> {{ aktuell.untertitel }} </h2>
            {% if aktuell.sections-toggle %}
            <p> {{ aktuell.description_html }} </p>
            {% endif %}
        </div>
        {% if aktuell.sections-toggle %}
            {% for section in aktuell.sections %}
            <div class="grid-spaceAround-middle flex-flip padded-t-2">
                <div class="col-6_md-12 padded">
                    <img src="{{section.image}}" class="{% if section.border %}border-padded{% endif %}{% if section.window%}window{% endif %}" />
                </div>
                <div class="col-6_md-12 padded">
                    {{section.description_html}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="padded padded-b-1">
                <div>
                    <p>  {{aktuell.description_html}} </p>
                </div>
                {% if aktuell.anmelden-text-1 %}
                <div class="center padded-t-2">
                    <a href="{{ aktuell.anmelden-1 }}" class="button"> {{ aktuell.anmelden-text-1 }} </a>
                </div>
                {% endif %}
            </div>
        {% endif %}
        {% if aktuell.investition %}
        <div class="investition center">
            <p class="investition-title"> {{ aktuell.investition}} </p>
            <br />
            {% if aktuell.start-1 %}
            <p> {{ aktuell.start-1 }} </p>
            {% endif%}
            {% if aktuell.start-2 %}
            <p> {{ aktuell.start-2 }} </p>
            {% endif%}
            {% if aktuell.start-3 %}
            <p> {{ aktuell.start-3 }} </p>
            {% endif%}
        </div>
        {% endif %}
        <div class=" center">
            {% for abschluss in aktuell.abschluss %}
           <p> {{ abschluss.description_html }}</p>
        {% endfor %}
        <br /><br />
        <a href="{{ aktuell.anmelden }}" class="button"> {{ aktuell.anmelden-text }} </a>
        {% if aktuell.sections-toggle == false %}
        <div class="padded">
            <img src="{{ aktuell.image }}" class="border-padded" />
        </div>
        {% endif %}
        </div>
    </section>
</section>
{% endfor %}


<section class="center capped-width padded">
    <div class="editable">
        <h2></h2>
    </div>
</section>

{% for kurs in page.kurse %}
<section class="kurs-border capped-width">
    <section class=" padded">
        <div class="center padded padded-b-0">
            <h1 class="h1-bigger"> {{ kurs.titel }} </h1>
            <br />
            <h2> {{ kurs.untertitel }} </h2>
            {% if kurs.sections-toggle %}
            <p> {{ kurs.description_html }} </p>
            {% endif %}
        </div>
        {% if kurs.sections-toggle %}
            {% for section in kurs.sections %}
            <div class="grid-spaceAround-middle flex-flip padded-t-2">
                <div class="col-6_md-12 padded">
                    <img src="{{section.image}}" class="{% if section.border %}border-padded{% endif %}{% if section.window%}window{% endif %}" />
                </div>
                <div class="col-6_md-12 padded">
                    {{section.description_html}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="padded">
                <div>
                    <p>  {{kurs.description_html}} </p>
                </div>
                {% if kurs.anmelden-text-1 %}
                <div class="center padded-t-2">
                    <a href="{{ kurs.anmelden-1 }}" class="button"> {{ kurs.anmelden-text-1 }} </a>
                </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="investition center">
            <p class="investition-title"> {{ kurs.investition}} </p>
            <br />
            {% if kurs.start-1 %}
            <p> {{ kurs.start-1 }} </p>
            {% endif%}
            {% if kurs.start-2 %}
            <p> {{ kurs.start-2 }} </p>
            {% endif%}
            {% if kurs.start-3 %}
            <p> {{ kurs.start-3 }} </p>
            {% endif%}
        </div>
        <div class="margin-t-2 center">
            {% for abschluss in kurs.abschluss %}
           <p> {{ abschluss.description_html }}</p>
        {% endfor %}
        <br /><br />
        <a href="{{ kurs.anmelden }}" class="button"> {{ kurs.anmelden-text }} </a>
        </div>
        {% if kurs.sections-toggle == false %}
        <div class="padded center">
            <img src="{{ kurs.image }}" class="border-padded" />
        </div>
        {% endif %}
    </section>
</section>
{% endfor %}



<!-- <section class="center capped-width padded">
    <div class="editable">
        <h2> ThetaHealing® Seminare </h2>
    </div>
</section> -->


<!----
{% for theta in page.theta %}
<section class="kurs-border capped-width">
    <section class="padded">
        <div class="center padded padded-b-0">
            <h1> {{ theta.titel }} </h1>
            <br />
            <h2> {{ theta.untertitel }} </h2>
            <br />
            {% if theta.sections-toggle %}
            <p> {{ theta.description_html }} </p>
            {% endif %}
        </div>
        {% if theta.sections-toggle %}
            {% for section in theta.sections %}
            <div class="grid-spaceAround-middle flex-flip padded-t-2">
                <div class="col-6_md-12 padded">
                    <img src="{{section.image}}" class="{% if section.border %}border-padded{% endif %}{% if section.window%}window{% endif %}" />
                </div>
                <div class="col-6_md-12 padded">
                    {{section.description_html}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="padded">
                <div>
                    <p>  {{theta.description_html}} </p>
                </div>
            </div>
            <div class="padded">
                <img src="{{ theta.image }}" class="border-padded" />
            </div>
        {% endif %}
        <div class="investition center">
            <p class="investition-title"> {{ theta.investition}} </p>
            <br />
            <p> {{ theta.start }} </p>
        </div>
        <div class="margin-t-2 center">
            {% for abschluss in theta.abschluss %}
           <p> {{ abschluss.description_html }}</p>
        {% endfor %}
        <br /><br />
        <a href="{{ theta.anmelden }}" class="button"> {{ theta.anmelden-text }} </a>
        </div>
    </section>
</section>
{% endfor %}


<section class="capped-width padded left">
    <div class="editable">
        <h2> Folgende ThetaHealing® Seminare können auf Anfrage gebucht werden. </h2><br />
        <ul>
            <li>
                <p>Manifestieren &amp; Überfluss</p>
            </li>
            <li>
                <p>Du &amp; die Erde</p>
            </li>
            <li>
                <p>Du &amp; deine bessere Hälfte</p>
            </li>
            <li>
                <p>Du &amp; dein innerer Kreis</p>
            </li>
            <li>
                <p>Seelenpartner</p>
            </li>
            <li>
                <p>Intuitive Anatomie</p>
            </li>
            <li>
                <p>Tierseminar</p>
            </li>
            <li>
                <p>Pflanzenseminar</p>
            </li>
            <li>
                <p>Weltenbeziehungen</p>
            </li>
            <li>
                <p>Rythm</p>
            </li>
            <li>
                <p>Regenbogenkinder</p>
            </li>
        </ul>
    </div>
</section>

--->

<section class="bg-image bg-overlay bg-footer-bottom tall-70 xs-tall-40 flex-center text-white">
    <div class="padded">
      <div class="relative center">
          <img src="/images/neu/index/baum-footer.svg" />
      </div>
      <div class="center margin-t-2">
        <a href="/termin-buchen.html" class="button-footer"> Ich freue mich von dir zu hören. :) </a>
      </div>
    </div>
  </section>