
<footer class="border-footer">
  <section class="padded-b-0 padded-t-1 grid-spaceBetween">
    <div class="col-3_xs-6-left left">
      <a href="/"> <img src="/images/logos/hauptlogo.png" class="margin-b-1" /> </a>
    </div>
    <nav class="col-4_xs-6 right">
      <a href="/index" class="block"> Start </a>
      <a href="/ueber-mich" class="block"> Über mich </a>
      <a href="/dein-heiliger-raum.html" class="block"> Dein heiliger Raum </a>
      <a href="/awake-your-soul.html" class="block"> Awake your Soul </a>
      <a href="/thetahealing-seminare.html" class="block"> ThetaHealing® Seminare </a>
      <a href="/thetahealing-einzelsessions.html" class="block"> ThetaHealing® Einzelsession </a>
      <a href="/beambreath.html" class="block"> Breathwork </a>
      <a href="/termin-buchen" class="block"> Termin buchen </a>
      <a href="/kontakt" class="block"> Kontakt </a>
      <div class="i-d">
        <a href="/agb.html" class="block"> AGB's </a>
        <a href="/impressum" class="block"> Impressum </a>
        <a href="/datenschutz" class="block"> Datenschutz</a>
      </div>
    </nav>
    <div class="col-12 padded-1 padded-b-05 center">
      <nav>
        <a href="mailto:{{site.data.site-settings.social.email}}" class="padded-l-0">
          <i class="fa-solid fa-brands-2 fa-envelope"></i>
        </a>
        <a href="{{site.data.site-settings.social.whatsapp_url}}" rel="nofollow" target="_blank" title="Kontaktiere mich auf Whats App">
          <i class="fa-brands fa-brands-2 fa-whatsapp"></i>
        </a>
        <a href="tel:{{site.data.site-settings.social.telefon}}" rel="nofollow" target="_blank" title="Kontaktiere mich via Telefon">
          <i class="fa-solid fa-brands-2 fa-phone"></i>
        </a>
        <a href="{{site.data.site-settings.social.facebook_url}}" rel="nofollow" target="_blank" title="Share on Facebook" class="padded-l-0">
          <i class="fa-brands fa-brands-2 fa-facebook"></i>
      </a>
      <a href="{{site.data.site-settings.social.instagram_url}}" rel="nofollow" target="_blank" title="Share on Instagram">
          <i class="fa-brands fa-brands-2 fa-instagram"></i>
      </a>
    </nav>
    </div>
    <div class="col-12 padded-b-0 center">
      <p class="editable">
          {{ site.data.site-settings.ort.adresse }}
      </p>
    </div>
    <div class="col-12 padded-b-1 padded-t-05 center editable footer-small-text">
      <p> ©Karin Gütiger Awaken Soul 2023 </p>
    </div>
    <div class="pajurama-logo-position">
      <p class="editable size-09"> Web Design und <br class="show-md" /> Fotografie von <br /><a href="https://www.pajurama.com" target="_blank" class="pajurama-logo"> <img src="/images/logos/pajurama-logo-neu.svg" class="pajurama-logo margin-t-04" /> </a> </p>
    </div>
</section>
</footer>



  
  