
<header class="grid-spaceAround-middle center">

  <div class="col-6 left">
     <a href="/index"> <img src="/images/logos/logo.png" class="header-logo"> </a>
  </div> 
  <div class="col-6 right hide-md">
    <h2 class="menu-button"> MENU </h2>
 </div> 


 <div class="col-6 right show-md">
  <div class="burger-button">
    <span class="burger-top"></span>
    <span class="burger-middle"></span>
    <span class="burger-bottom"></span>
  </div>
</div>


</header>
  
<div class="mobile-menu bg-image bg-menu grid-spaceAround-middle"> 
  <div class="col-12-top relative grid">
    <div class="col-6 relative">
      <a href="/index"> <img src="/images/logos/logo.png" class="header-logo-mobile"> </a>
    </div>
    <div class="col-6 relative">
      <span class="menu-button schliessen"> SCHLIESSEN </span>
    </div>
  </div>
</div> 


