<!DOCTYPE html>
<html lang="en">

<head>

    {% include head.html %}
    
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11279802800"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11279802800');
</script>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W3P36BMT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include inline-styles.html %}
    
    {% include site-header.html %}

    {% for behandlungen in page.behandlungen %}

    <section>
        <section class="capped-width grid-spaceAround-middle padded center">
            <div class="col-12">
                <p class="index-icon"> {{ behandlungen.icon }}</p>
                <h2 class="tworem"> {{ behandlungen.titel }} </h2>
            </div>
        </section>
    </section>



    {% endfor %}

    {{content}}


    <section class="bg-medium">
        <section class="capped-width-v-narrow padded-2 center">
            <a href="/termin-buchen.html" class="button hover-white"> Jetzt buchen </a>
        </section>
    </section>

    {% include site-footer.html %}

    <!-- Javascript  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/main.js"></script>

</body>

</html>